CREATE TABLE [reqlog].[Application] (
    [ApplicationID]   INT          NOT NULL,
    [ApplicationName] VARCHAR (50) NOT NULL,
    CONSTRAINT [PK_Application] PRIMARY KEY CLUSTERED ([ApplicationID] ASC)
)
GO
