@model MOBOT.BHL.AdminWeb.Models.TextImportModel

@{
    ViewBag.Title = "Import Item Text - Select File";
}

<p><a href="/">&lt; Return to Dashboard</a></p>
<span class="pageHeader">@ViewBag.Title</span><hr />
<br />

<div class="citeImport">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    <div style="margin-bottom:10px">
        <p>
            Use this form to upload one or more files containing transcriptions of BHL items.  The files must have been created from one of the following sources:
            <ul>
                <li>From The Page</li>
                <li>DigiVol</li>
                <li>Smithsonian Transcription Center</li>
                <li>Generic BHL Text Import template <a href="~/Upload/ItemText/TextImportTemplate.csv">Download here</a></li>
            </ul>
        </p>
        <p>
            For more information about using the Generic BHL Text Import template, <a href="">click here</a>.
        </p>
        <p>
            No other file formats are supported at this time.  Each file must contain the transcription of one and only one BHL item.  
            <div style="font-weight:bold">IMPORTANT:  The name of each file must be the identifier of the BHL item to which that file applies.  For example: 123456.txt</div>
        </p>
        <p>&nbsp;</p>
        <div><div class="label">File name:</div><div class="field"><input type="file" id="FileName" name="FileName" style="width:450px" multiple /></div></div>
    </div>
        <div style="margin:10px 0px">
            <input type="submit" name="btnNext" id="btnNext" value="Next >" />
            <input type="button" name="btnCancel" id="btnCancel" value="Cancel" />
        </div>
    }
</div>

<span id="Loading" style="display:none"><img src="~/images/loading.gif" /> Uploading file... please wait</span>

<script type="text/javascript">
    $(document).ready(function () {
        $("#FileFormat").change(function () {
            $("#FileFormat option:selected").each(function () {
                resetFormElement($("#FileName"));
            });
        }).change();

        $("#btnCancel").click(function () {
            window.location.href = "/";
        });

        $("form").submit(function () {
            if ($("#ItemID").val() === "") {
                alert("Specify a BHL Item ID");
                event.preventDefault();
            }
            else if ($("#FileName").val() === "") {
                alert("Select a file to upload");
                event.preventDefault();
            }
            else {
                $(".citeImport").hide();
                $("#Loading").show();
            }
        });

    });

    function resetFormElement(e) {
        e.wrap("<form>").closest("form").get(0).reset();
        e.unwrap();
    }
</script>

