@model MOBOT.BHL.AdminWeb.Models.TextImportModel

@{
    ViewBag.Title = "Import Item Text - Review";
}

<p><a href="/">&lt; Return to Dashboard</a></p>
<span class="pageHeader">@ViewBag.Title</span><hr />
<br />

<div class="citeImport">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {




        <div style="margin:10px 0px">
            <input class="formButton" type="submit" name="btnNext" id="btnNext" value="Next >" />
            <input class="formButton" type="button" name="btnCancel" id="btnCancel" value="Cancel" />
        </div>
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnCancel").click(function () {
            window.location.href = "/";
        });
    });
</script>


