<configuration>
	<system.runtime.remoting>
		<application>
			<client>
				<!-- make sure to point address locally when running locally == tcp://localhost -->
				<!-- dev address = tcp://mbgdevserv01 -->
				<!-- production address = tcp://mbgserv09:2235 -->
				<wellknown url="tcp://mbgserv09:2235/MOBOT.FileAccess.FileAccessProvider.soap"
									type="MOBOT.FileAccess.IFileAccessProvider, MOBOT.FileAccess" />
			</client>
			<channels>
				<channel ref="tcp" port="0" />
				<clientProviders>
					<formatter ref="binary" />
				</clientProviders>
				<serverProviders>
					<formatter ref="binary" typeFilterlevel="High" />
				</serverProviders>
			</channels>
		</application>
	</system.runtime.remoting>
</configuration>