<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

  <appSettings>

    <!-- Indicates whether the site is in "production" mode -->
    <add key="IsProduction" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- Default URLs -->
    <add key="BaseUrl" value="http://www.biodiversitylibrary.org" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BibPageUrl" value="http://www.biodiversitylibrary.org/bibliography/{0}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ItemPageUrl" value="http://www.biodiversitylibrary.org/item/{0}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PagePageUrl" value="http://www.biodiversitylibrary.org/page/{0}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PartPageUrl" value="http://www.biodiversitylibrary.org/part/{0}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AuthorPageUrl" value="http://www.biodiversitylibrary.org/creator/{0}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CollectionPageUrl" value="http://www.biodiversitylibrary.org/collection/{0}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- Upload path for collection images -->
    <add key="CollectionImageUploadPath" value="\\cbiwebserver\web\www.biodiversitylibrary.org\images\collection\{0}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- Collection image path -->
    <add key="CollectionImagePath" value="http://www.biodiversitylibrary.org/images/collection/{0}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- Upload path for iTunes images -->
    <add key="iTunesImageUploadPath" value="\\cbiwebserver\web\www.biodiversitylibrary.org\images\itunes\{0}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- iTunes image path -->
    <add key="iTunesImagePath" value="http://www.biodiversitylibrary.org/images/itunes/{0}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- Path to the alertmsg.txt file -->
    <add key="AlertMsgPath" value="\\cbiwebserver\web\www.biodiversitylibrary.org\alertmsg.txt" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="FlickrUserId" value="61021753@N02" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
  </appSettings>
  
  <connectionStrings xdt:Transform="Replace">
    <remove name="BHL" />
    <add name="BHL" connectionString="Data Source=mbgserv21\sql2012;Initial Catalog=BHL;user=BotanicusService;password=BotanicusService; Connection Timeout = 180; Application Name=BHLAdmin"/>
    <add name="Admin" connectionString="Data Source=mbgserv21\sql2012;Initial Catalog=MOBOTAdmin;user=AdminService;password=AdminService; Connection Timeout = 180; Application Name=BHLAdmin" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>

  <system.serviceModel>
  <client xdt:Transform="Replace">
    <endpoint address="http://mbgserv09/bhlimportwebservice/bhlimportws.asmx"
      binding="basicHttpBinding" bindingConfiguration="BHLImportWSSoap"
      contract="BHLImportWebService.BHLImportWSSoap" name="BHLImportWSSoap" />
  </client>
  </system.serviceModel>
</configuration>