<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flickrNet" type="FlickrNet.FlickrConfigurationManager,FlickrNet" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>

    <!--<add key="owin:AutomaticAppStartup" value="false" />-->

    <!-- ############# SETTINGS TO OVERRIDE IN WEB.RELEASE.CONFIG ############# -->
    <!-- Default URLs -->
    <add key="BaseUrl" value="http://beta.biodiversitylibrary.org" />
    <add key="BibPageUrl" value="http://beta.biodiversitylibrary.org/bibliography/{0}" />
    <add key="ItemPageUrl" value="http://beta.biodiversitylibrary.org/item/{0}" />
    <add key="PagePageUrl" value="http://beta.biodiversitylibrary.org/page/{0}" />
    <add key="PartPageUrl" value="http://beta.biodiversitylibrary.org/part/{0}" />
    <add key="AuthorPageUrl" value="http://beta.biodiversitylibrary.org/creator/{0}" />
    <add key="CollectionPageUrl" value="http://beta.biodiversitylibrary.org/collection/{0}" />
    <!-- Upload path for collection images -->
    <add key="CollectionImageUploadPath" value="\\cbiwebserver\web\beta.biodiversitylibrary.org\images\collection\{0}" />
    <!-- Collection image path -->
    <add key="CollectionImagePath" value="http://beta.biodiversitylibrary.org/images/collection/{0}" />
    <!-- Upload path for iTunes images -->
    <add key="iTunesImageUploadPath" value="\\cbiwebserver\web\beta.biodiversitylibrary.org\images\itunes\{0}" />
    <!-- iTunes image path -->
    <add key="iTunesImagePath" value="http://beta.biodiversitylibrary.org/images/itunes/{0}" />
    <!-- Path to the alertmsg.txt file -->
    <add key="AlertMsgPath" value="\\cbiwebserver\web\beta.biodiversitylibrary.org\alertmsg.txt" />
    <!-- Value of querystring parameter that indicates the site is in debug mode -->
    <add key="DebugValue" value="debug" />
    <!-- Full upload path for MARC files -->
    <add key="MarcUploadPath" value="C:\MOBOT\BHLAdmin\BHLAdminWeb\upload\{0}.{1}" />
    <!-- Drive letter of upload path for MARC files  (use server if no drive letter assigned) -->
    <add key="MarcUploadDrive" value="C:" />
    <!-- Server name of upload path for MARC files -->
    <add key="MarcUploadServer" value="\\cbiwebserver" />
    <!-- File paths for Citation file uploads -->
    <add key="CitationNewPath" value="C:\MOBOT\BHLAdmin\BHLAdminWeb\Upload\Citation\New\" />
    <add key="CitationCompletePath" value="C:\MOBOT\BHLAdmin\BHLAdminWeb\Upload\Citation\Complete\" />
    <add key="CitationErrorPath" value="C:\MOBOT\BHLAdmin\BHLAdminWeb\Upload\Citation\Error\" />
    <!-- File path for OCR generation -->
    <add key="OCRJobNewPath" value="C:\MOBOT\BHLAdmin\BHLAdminWeb\ocrjob\new\" />
    <add key="FlickrUserId" value="" />
    <!-- OWIN and Identity configuration -->
    <add key="owin:appStartup" value="DevelopmentConfiguration" />
    <!-- ###################################################################### -->

    <!-- Email settings-->
    <add key="SMTPHost" value="mbgcas01.mobot.org"/>
    <add key="EmailFromName" value="Biodiversity Heritage Library"/>
    <add key="EmailFromAddress" value="biodiversitylibrary@gmail.com"/>
    <add key="BHLUserAdminEmailAddress" value="mike.lichtenberg@mobot.org"/>
    <!-- Indicates if full-text search is enabled on the BHL web site -->
    <add key="EnableFullTextSearch" value="true" />
    <!-- Indicates whether to use the remote file access services -->
    <add key="UseRemoteFileAccessProvider" value="true" />
    <!-- Path to OCR files -->
    <add key="OCRTextLocation" value="{0}\{1}\{2}\{3}.txt" />
    <!-- Folder into which to place items downloaded from Internet Archive -->
    <add key="LocalFileFolder" value="\\mbgserv14\bhl4\" />
    <!-- DOI file locations -->
    <add key="DOIDepositFileLocation" value="\\mbgserv09\d$\Services\BHLDOIService\deposit\{0}.xml" />
    <add key="DOISubmitLogFileLocation" value="\\mbgserv09\d$\Services\BHLDOIService\submitlog\{0}.log.xml" />
    <!-- jQuery libraries -->
    <add key="jQueryPath" value="/Scripts/jquery-1.9.1.min.js" />
    <add key="jQueryUIPath" value="/Scripts/jquery-ui-1.11.4/jquery-ui.min.js" />
    <add key="jQueryUICSSPath" value="/styles/jquery-ui-1.11.4/jquery-ui.min.css" />
    <add key="jQueryDataTablesPath" value="/js/jquery.dataTables.min.js" />
    <add key="jQueryJEditablePath" value="/js/jquery.jeditable.1.7.3.min.js" />
    <add key="jqGridCSSPath" value="/styles/jqgridtheme/ui.jqgrid.css" />
    <add key="jQueryDataTablesCSSPath" value="/styles/jquery.dataTables.css" />
    <add key="jqGridLocalePath" value="/js/grid.locale-en.js" />
    <add key="jqGridPath" value="/js/jquery.jqGrid.min.js" />
    <!-- Required for forms with large numbers of fields (such as the paginator) -->
    <add key="aspnet:MaxHttpCollectionKeys" value="2500" />
    <add key="StatsNumberOfLogItemsToDisplay" value="10" />
    <add key="StatsPendingApprovalDownloadLimit" value="7" />
    <!-- value is in days -->
    <add key="StatsPendingApprovalMinimimDisplayAge" value="0" />
    <!-- value is in days -->
    <add key="MARCXmlLocation" value="{0}\{1}\{2}_marc.xml" />
    <add key="ConfigNameCurrentIAVault" value="CurrentIAVaultID" />
    <!-- Flickr settings -->
    <add key="FlickrKey" value="fc9a4526f94dddc63c76f1eeee7bbc88" />
    <!-- 637fee3a858a0d0a9d384227488124c8-->
    <add key="FlickrSecret" value="232c9138d3ef6d4b" />
    <!-- 1396046c830c177d-->
    <add key="FlickrImageCredit" value="Image courtesy of BHL" />
    <add key="FlickrImageSource" value="http://biodiversitylibrary.org" />
    <add key="FlickrImageRights" value="Public Domain" />
    <add key="FlickrImageQuality" value="90" />
    <add key="FlickrMaxWidth" value="3200" />
    <add key="FlickrMaxHeight" value="3200" />
    <add key="FlickrImageQuality" value="90" />
    <add key="FlickrUserError" value="You must be logged into flickr using the BHL account in order to upload images." />
    <add key="FlickrReturnUrl" value="http://admin.biodiversitylibrary.org/FlickrLoginRedirect.aspx" />
    <!-- Maximum time in minutes that the dashboard stats are cached -->
    <add key="DashboardStatsCacheTime" value="240" />
    <!-- Values for these keys map to the ApplicationIDs defined in the Application table in the MOBOTAdmin database -->
    <add key="APIStatsAppID" value="2" />
    <add key="OpenUrlStatsAppID" value="3" />
    <!-- Use these Urls to include titles, items, pages, and names on the chart -->
    <!--
    <add key="GoogleMonthlyChartUrl" value="http://chart.apis.google.com/chart?cht=bvg&amp;chs=900x300&amp;chbh=5,1&amp;chxt=x,y&amp;chdl=Titles|Items|Pages|Names&amp;chd=t:{0}&amp;chds=0,{1}&amp;chxr=0,0,{2}|1,0,{3}&amp;chxl=0:{4}&amp;chf=&amp;chco=2c50f2,ffcc00,99cc00,ff0000"/>
    <add key="GoogleCumulativeChartUrl" value="http://chart.apis.google.com/chart?cht=lc&amp;chs=900x300&amp;chxt=x,y&amp;chdl=Titles|Items|Pages|Names&amp;chd=t:{0}&amp;chds=0,{1}&amp;chxr=0,0,{2}|1,0,{3}&amp;chxl=0:{4}&amp;chf=&amp;chco=2c50f2,ffcc00,99cc00,ff0000"/>
    -->
    <!-- Use these Urls to include only items on the chart -->
    <add key="GoogleMonthlyChartUrl" value="http://chart.apis.google.com/chart?cht=bvg&amp;chs=900x300&amp;chbh=25,1&amp;chxt=x,y&amp;chdl=Items&amp;chd=t:{0}&amp;chds=0,{1}&amp;chxr=0,0,{2}|1,0,{3}&amp;chxl=0:{4}&amp;chf=&amp;chco=2c50f2" />
    <add key="GoogleCumulativeChartUrl" value="http://chart.apis.google.com/chart?cht=lc&amp;chs=900x300&amp;chxt=x,y&amp;chdl=Items&amp;chd=t:{0}&amp;chds=0,{1}&amp;chxr=0,0,{2}|1,0,{3}&amp;chxl=0:{4}&amp;chf=&amp;chco=2c50f2" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <connectionStrings>
    <remove name="BHL" />
    <add name="BHL" connectionString="Data Source=localhost\sqlexpress2012;Initial Catalog=BHL;user=BHLService;password=BHLService; Connection Timeout = 600; Application Name=BHLAdmin" providerName="System.Data.SqlClient" />
    <add name="BHLUser" connectionString="Data Source=localhost\sqlexpress2012;Initial Catalog=BHL;user=BHLService;password=BHLService; Connection Timeout = 600; Application Name=BHLAdmin; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime requestValidationMode="2.0" executionTimeout="600" maxRequestLength="98304" />
    <pages enableEventValidation="false" viewStateEncryptionMode="Never" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Linq" />
        <add namespace="System.Collections.Generic" />
      </namespaces>
    </pages>
    <compilation debug="true" targetFramework="4.5" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <customErrors mode="Off" />
    <authentication mode="None" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BHLImportWSSoap" maxBufferSize="9437184" maxBufferPoolSize="524288" maxReceivedMessageSize="9437184" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:22542/BHLImportWS.asmx" binding="basicHttpBinding" bindingConfiguration="BHLImportWSSoap" contract="BHLImportWebService.BHLImportWSSoap" name="BHLImportWSSoap" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="mengine60" publicKeyToken="c1bb55e8c070effb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.4.0" newVersion="1.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <handlers>
      <add name="UrlRoutingHandler"
         type="System.Web.Routing.UrlRoutingHandler, 
				   System.Web, Version=4.0.0.0, 
				   Culture=neutral, 
				   PublicKeyToken=b03f5f7f11d50a3a"
         path="/account/*"
         verb="GET,POST,PUT,DELETE,DEBUG,HEAD"/>
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="524288000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <flickrNet cacheDisabled="true" />
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>