<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

  <appSettings>

    <!-- Upload path for collection images -->
    <add key="CollectionImageUploadPath" value="\\cbiwebserver\web\beta.biodiversitylibrary.org\images\collection\{0}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- Upload path for iTunes images -->
    <add key="iTunesImageUploadPath" value="\\cbiwebserver\web\beta.biodiversitylibrary.org\images\itunes\{0}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- Path to the alertmsg.txt file -->
    <add key="AlertMsgPath" value="\\cbiwebserver\web\beta.biodiversitylibrary.org\alertmsg.txt" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- Full upload path for MARC files -->
    <add key="MarcUploadPath" value="D:\web\beta.admin.biodiversitylibrary.org\Upload\{0}.{1}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- Drive letter of upload path for MARC files  (use server if no drive letter assigned) -->
    <add key="MarcUploadDrive" value="D:" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- Server name of upload path for MARC files -->
    <add key="MarcUploadServer" value="\\cbiwebserver" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- File paths for Citation file uploads -->
    <add key="CitationNewPath" value="D:\web\beta.admin.biodiversitylibrary.org\Upload\Citation\New\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CitationCompletePath" value="D:\web\beta.admin.biodiversitylibrary.org\Upload\Citation\Complete\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CitationErrorPath" value="D:\web\beta.admin.biodiversitylibrary.org\Upload\Citation\Error\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="FlickrUserId" value="61021753@N02" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

  </appSettings>

  <connectionStrings xdt:Transform="Replace">
    <remove name="BHL" />
    <add name="BHL" connectionString="Data Source=mbgdevserv03vm\mbgdevserv03;Initial Catalog=BHLDev;user=BotanicusService;password=BotanicusService; Connection Timeout = 600; Application Name=BHLAdminBeta"/>
    <add name="Admin" connectionString="Data Source=mbgdevserv03vm\mbgdevserv03;Initial Catalog=MOBOTAdmin;user=AdminService;password=AdminService; Connection Timeout = 600; Application Name=BHLAdminBeta" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>

  <system.serviceModel>
    <client xdt:Transform="Replace">
      <endpoint address="http://mbgserv09/bhlimportwebservicetest/bhlimportws.asmx"
        binding="basicHttpBinding" bindingConfiguration="BHLImportWSSoap"
        contract="BHLImportWebService.BHLImportWSSoap" name="BHLImportWSSoap" />
    </client>
  </system.serviceModel>
</configuration>