@model MOBOT.BHL.AdminWeb.Models.MonitorModel

@{
    ViewBag.Title = "Add To Queue";
}

<div class="row">
    <div class="col-md-6 center monitorFrame">
        <div class="row">
            <div class="col-md-12 monitorPageHeader">
                <span class="pageHeader">Add Messages To Queue </span>
                <span><a href="/monitor">Back to Server Monitor</a></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="ErrorText">@Model.queueResult</div>
            </div>
        </div>

        <form method="post">
            <div class="form-group row">
                <label for="queueName" class="col-md-2 col-form-label">Queue</label>
                <div class="col-md-10">
                    @Html.DropDownList("queueName", new SelectList(Model.UpdateableQueueList), new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <label for="queueMessages" class="col-md-2 col-form-label">Messages</label>
                <div class="col-md-10">
                    @Html.TextArea("queueMessages", new { @class = "form-control", @rows = 8, @placeholder = "One message per line" })
                    <!--<textarea class="form-control" id="queueMessages" rows="8" placeholder="One message per line"></textarea>-->
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                    <p>
                        Messages added to the "index" queue must use one of the following formats:
                    </p>
                    <p>
                        <ul>
                            <li>&lt;put|delete&gt;|item|&lt;titleid&gt;-&lt;itemid&gt; (ex.&nbsp;put|item|98387-134667)</li>
                            <li>&lt;put|delete&gt;|segment|&lt;segmentid&gt; (ex.&nbsp;delete|segment|54811)</li>
                            <li>&lt;put|delete&gt;|author|&lt;authorid&gt; (ex.&nbsp;put|author|93)</li>
                            <li>&lt;put|delete&gt;|keyword|&lt;keywordid&gt; (ex.&nbsp;put|keyword|13278)</li>
                        </ul>
                    </p>
                    <p>
                        Messages added to the "index.names" queue must use the following format:
                    </p>
                    <p>
                        <ul>
                            <li>&lt;put|delete&gt;|nameresolved|&lt;nameresolvedid&gt; (ex.&nbsp;put|nameresolved|1248)</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-10">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </form>
        </div>
</div>