SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fnCOinSAuthorStringForSegment]
(
	@SegmentID int
)
RETURNS nvarchar(MAX)
AS 

BEGIN
	DECLARE @AuthorString nvarchar(MAX)
	DECLARE @CurrentRecord int
	SET @CurrentRecord = 1

	SELECT	@AuthorString = COALESCE(@AuthorString, '') +
					(CASE WHEN @CurrentRecord = 1 THEN '' ELSE '|' END) +  x.FullName,
			@CurrentRecord = @CurrentRecord + 1
	FROM	(
			SELECT	MIN(ia.SequenceOrder) AS SequenceOrder, n.FullName
			FROM	dbo.Segment s
					INNER JOIN dbo.ItemAuthor ia ON s.ItemID = ia.ItemID
					INNER JOIN dbo.Author a ON ia.AuthorID = a.AuthorID
					INNER JOIN dbo.AuthorName n ON a.AuthorID = n.AuthorID
			WHERE	s.SegmentID = @SegmentID
			AND		a.IsActive = 1
			AND		n.IsPreferredName = 1
			GROUP BY n.FullName
			) x
	ORDER BY x.SequenceOrder, x.FullName

	RETURN LTRIM(RTRIM(COALESCE(@AuthorString, '')))
END


GO
