SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fnCOinSGetFirstAuthorNameForSegment] 
(
	@SegmentID int
)
RETURNS nvarchar(255)
AS 

BEGIN
	DECLARE @AuthorName nvarchar(255)
	SET @AuthorName = NULL

	SELECT TOP 1 @AuthorName = n.FullName
	FROM	dbo.Segment s
			INNER JOIN dbo.ItemAuthor ia ON s.ItemID = ia.ItemID
			INNER JOIN dbo.Author a ON ia.AuthorID = a.AuthorID
			INNER JOIN dbo.AuthorName n ON a.AuthorID = n.AuthorID
	WHERE	s.SegmentID = @SegmentID
	AND		a.IsActive = 1
	AND		n.IsPreferredName = 1
	ORDER BY ia.SequenceOrder, n.FullName

	RETURN LTRIM(RTRIM(COALESCE(@AuthorName, '')))
END


GO
