SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [srchindex].[SelectItemMetadata]

@ItemID int

AS 

BEGIN

SET NOCOUNT ON

DECLARE @tmpItem TABLE
	(
	TitleID int NOT NULL,
	ItemID int NOT NULL,
	BookID int NOT NULL,
	BarCode nvarchar(40) NOT NULL DEFAULT(''),
	FirstPageID int NULL,
	MaterialTypeID int NULL,
	BibliographicLevelID int NULL,
	LanguageCode nvarchar(10) NULL,
	SearchText nvarchar(4000) NOT NULL DEFAULT(''),
	FullTitle nvarchar(2000) NOT NULL DEFAULT(''),
	SortTitle nvarchar(60) NOT NULL DEFAULT(''),
	PartNumber nvarchar(255) NULL DEFAULT(''),
	PartName nvarchar(255) NULL DEFAULT(''),
	UniformTitle nvarchar(255) NOT NULL DEFAULT(''),
	PublisherPlace nvarchar(150) NULL DEFAULT(''),
	PublisherName nvarchar(255) NULL DEFAULT(''),
	Volume nvarchar(100) NOT NULL DEFAULT(''),
	[Year] nvarchar(20) NOT NULL DEFAULT(''),
	Subjects nvarchar(max) NOT NULL DEFAULT(''),
	Associations nvarchar(max) NOT NULL DEFAULT(''),
	Variants nvarchar(max) NOT NULL DEFAULT(''),
	Authors nvarchar(max) NOT NULL DEFAULT(''),
	SearchAuthors nvarchar(max) NOT NULL DEFAULT(''),
	ItemContributors nvarchar(max) NOT NULL DEFAULT(''),
	Url nvarchar(500) NOT NULL DEFAULT(''),
	LanguageName nvarchar(20) NULL DEFAULT(''),
	BibliographicLevelName nvarchar(50) NOT NULL DEFAULT(''),
	MaterialTypeLabel nvarchar(60) NULL DEFAULT(''),
	DOIName nvarchar(50) NULL DEFAULT(''),
  	HasSegments smallint NOT NULL DEFAULT(0),
	HasLocalContent smallint NOT NULL DEFAULT(0),
	HasExternalContent smallint NOT NULL DEFAULT(0),
	HasIllustrations smallint NOT NULL DEFAULT(0)
	)

-- Get the initial data set
INSERT	@tmpItem (TitleID, ItemID, BookID, BarCode, MaterialTypeID, BibliographicLevelID, LanguageCode, FullTitle, SortTitle,
		PartNumber, PartName, UniformTitle, Volume, PublisherPlace, PublisherName, [Year], Url, LanguageName,
		BibliographicLevelName, MaterialTypeLabel, DOIName, HasSegments, HasExternalContent)
SELECT DISTINCT
		t.TitleID,
		bi.ItemID,
		bk.BookID,
		bk.BarCode,
		t.MaterialTypeID,
		t.BibliographicLevelID,
		bk.LanguageCode,
		ISNULL(t.FullTitle, '') AS FullTitle,
		ISNULL(t.SortTitle, '') AS SortTitle,
		ISNULL(t.PartNumber, '') AS PartNumber,
		ISNULL(t.PartName, '') AS PartName,
		ISNULL(t.UniformTitle, '') AS UniformTitle,
		ISNULL(bk.Volume, '') AS Volume,
		ISNULL(t.Datafield_260_a, '') AS PublisherPlace,
		ISNULL(t.Datafield_260_b, '') AS PublisherName,
		ISNULL(CASE WHEN ISNULL(bk.Startyear, '') = '' THEN CONVERT(nvarchar(20), t.StartYear) ELSE bk.StartYear END, '') as [Year],
	    ISNULL(bk.ExternalUrl, '') AS Url,
		ISNULL(l.LanguageName, '') AS LanguageName,
		ISNULL(b.BibliographicLevelName, '') AS BibliographicLevelName,
		ISNULL(m.MaterialTypeLabel, '') AS MaterialTypeLabel,
	    ISNULL(d.DOIName, '') AS DOIName,
		CASE WHEN s.SegmentID IS NULL THEN 0 ELSE 1 END,
		CASE WHEN ISNULL(RTRIM(bk.ExternalUrl), '') = '' THEN 0 ELSE 1 END
FROM	dbo.Title t 
		INNER JOIN dbo.ItemTitle it ON t.TitleID = it.TitleID
		INNER JOIN dbo.Item bi ON it.ItemID = bi.ItemID
		INNER JOIN dbo.Book bk ON bi.ItemID = bk.ItemID
		LEFT JOIN dbo.ItemRelationship r ON bi.ItemID = r.ParentID
		LEFT JOIN dbo.Item si ON r.ChildID = si.ItemID AND si.ItemStatusID IN (30, 40)
		LEFT JOIN dbo.Segment s ON si.ItemID = s.ItemID
		LEFT JOIN dbo.[Language] l WITH (NOLOCK) ON bk.LanguageCode = l.LanguageCode
		LEFT JOIN dbo.BibliographicLevel b WITH (NOLOCK) ON t.BibliographicLevelID = b.BibliographicLevelID
		LEFT JOIN dbo.MaterialType m WITH(NOLOCK) ON t.MaterialTypeID = m.MaterialTypeID
		LEFT JOIN dbo.DOI d WITH (NOLOCK) ON t.TitleID = d.EntityID AND d.DOIStatusID IN (100, 200) AND d.DOIEntityTypeID = 10 AND d.IsValid = 1
WHERE	t.PublishReady = 1
AND		bi.ItemStatusID = 40
AND		bk.BookID = @ItemID

UPDATE	@tmpItem
SET		HasLocalContent = 1
FROM	@tmpItem t INNER JOIN dbo.ItemPage p ON t.ItemID = p.ItemID

UPDATE	@tmpItem
SET		HasIllustrations = x.HasIllustrations
FROM	@tmpItem i INNER JOIN (
			SELECT	t.ItemID, MAX(CASE WHEN ppt.PageID IS NULL THEN 0 ELSE 1 END) AS HasIllustrations
			FROM	@tmpItem t
					INNER JOIN dbo.ItemPage p ON t.ItemID = p.ItemID
					-- 3 = Illustration
					-- 10 = Map
					-- 14 = Foldout
					-- 18 = Drawing
					-- 19 = Table
					-- 20 = Photograph
					LEFT JOIN dbo.Page_PageType ppt ON p.PageID = ppt.PageID AND ppt.PageTypeID IN (3, 10, 14, 18, 19, 20)
			GROUP BY
					t.ItemID
			) x ON i.ItemID = x.ItemID

-- Get the first page IDs for each item
DECLARE @tmpPages TABLE (SequenceOrder int NULL, ItemID int NOT NULL)

INSERT INTO @tmpPages
SELECT	MIN(ip.SequenceOrder) AS SequenceOrder, 
		i.ItemID
FROM	@tmpItem i 
		INNER JOIN dbo.ItemPage ip WITH (NOLOCK) ON i.ItemID = ip.ItemID
		INNER JOIN dbo.Page p WITH (NOLOCK) ON ip.PageID = p.PageID
		INNER JOIN Page_PageType ppt ON p.PageID = ppt.PageID
WHERE	p.Active = 1
AND		ppt.PageTypeID = 1 -- Use the first Title Page in the book
GROUP BY i.ItemID

UPDATE	@tmpItem
SET		FirstPageID = ip.PageID
FROM	@tmpItem i
		INNER JOIN @tmpPages t ON i.ItemID = t.ItemID
		INNER JOIN dbo.ItemPage ip WITH (NOLOCK) ON t.ItemID = ip.ItemID AND t.SequenceOrder = ip.SequenceOrder

UPDATE	@tmpItem
SET		FirstPageID = ip.PageID	-- Just use the first physical page in the book if no title page found
FROM	@tmpItem i
		INNER JOIN dbo.ItemPage ip WITH (NOLOCK) ON ip.ItemID = i.ItemID AND ip.SequenceOrder = 1
WHERE	i.FirstPageID IS NULL

--DROP TABLE #tmpPages

-- Return the final data set
SELECT	TitleID,
		BookID AS ItemID,
		FirstPageID,
		FullTitle + PartNumber + PartName AS FullTitle,
		ISNULL(dbo.fnAuthorSearchStringForTitle(i.TitleID, 1), '') AS Authors,
		ISNULL(dbo.fnAuthorSearchStringForTitle(i.TitleID, 0), '') AS SearchAuthors,
		ISNULL(dbo.fnKeywordStringForTitle(i.TitleID), '') AS Subjects,
		ISNULL(dbo.fnAssociationStringForTitle(i.TitleID), '') AS Associations,
		ISNULL(dbo.fnVariantStringForTitle(i.TitleID), '') AS Variants,
		ISNULL(dbo.fnContributorStringForItem(i.ItemID), '') AS ItemContributors,
		Volume,
		PublisherName,
		PublisherPlace,
		HasSegments,
		HasLocalContent,
		HasExternalContent,
		HasIllustrations,
		UniformTitle,
		SortTitle,
		PartNumber,
		PartName,
		LanguageName,
		BibliographicLevelName,
		MaterialTypeLabel,
		DOIName,
		Url,
		dbo.fnGetIdentifierStringForTitle(TitleID, 'OCLC') AS OCLC,
		dbo.fnGetIdentifierStringForTitle(TitleID, 'ISSN') AS ISSN,
		dbo.fnGetIdentifierStringForTitle(TitleID, 'ISBN') AS ISBN,
		dbo.fnCollectionStringForTitleAndItem(TitleID, ItemID) AS Collections,
		[Year] AS [Date],
	    Barcode
FROM	@tmpItem i

END

GO
