SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [srchindex].[SelectSegmentMetadata]

@SegmentID int,
@ItemID int

AS 

BEGIN

SET NOCOUNT ON

-- Create a temporary table with all of the searchable title and item data
CREATE TABLE #tmpSegment
(
	SegmentID int NOT NULL,
	ItemID int NOT NULL,
	Title nvarchar(2000) NOT NULL DEFAULT(''),
	TranslatedTitle nvarchar(2000) NOT NULL DEFAULT(''),
	SortTitle nvarchar(2000) NOT NULL DEFAULT(''),
	ContainerTitle nvarchar(2000) NOT NULL DEFAULT(''),
	Authors nvarchar(max) NOT NULL DEFAULT(''),
	SearchAuthors nvarchar(max) NOT NULL DEFAULT(''),
	Subjects nvarchar(max) NOT NULL DEFAULT(''),
	Contributors nvarchar(max) NOT NULL DEFAULT(''),
	Volume nvarchar(100) NOT NULL DEFAULT(''),
	Series nvarchar(100) NOT NULL DEFAULT(''),
	Issue nvarchar(100) NOT NULL DEFAULT(''),
	PublisherName nvarchar(255) NULL DEFAULT(''),
	PublisherPlace nvarchar(150) NULL DEFAULT(''),
	HasLocalContent smallint NOT NULL DEFAULT(1),
	HasExternalContent smallint NOT NULL DEFAULT(0),
	HasIllustrations smallint NOT NULL DEFAULT(0),
	LanguageName nvarchar(20) NULL DEFAULT(''),
	GenreName nvarchar(50) NOT NULL DEFAULT(''),
	MaterialTypeLabel nvarchar(60) NULL DEFAULT(''),
	DOIName nvarchar(50) NULL DEFAULT(''),
	Url nvarchar(200) NOT NULL DEFAULT(''),
	StartPageID int NULL,
	PageRange nvarchar(50) NOT NULL DEFAULT(''),
	[Date] nvarchar(20) NOT NULL DEFAULT('')
)

-- Get the initial data set
INSERT  #tmpSegment (SegmentID, ItemID, Title, TranslatedTitle, SortTitle,
				ContainerTitle, PublisherPlace, PublisherName, Volume, Series, Issue, 
				[Date], Url, StartPageID, PageRange, LanguageName, GenreName, MaterialTypeLabel,
				DOIName, HasLocalContent, HasExternalContent)
SELECT DISTINCT
		s.SegmentID,
		s.ItemID,
		s.Title,
		s.TranslatedTitle,
		s.SortTitle,
		s.ContainerTitle,
		s.PublisherPlace,
		s.PublisherName,
		s.Volume,
		s.Series,
		s.Issue,
		s.[Date],
		s.Url,
		s.StartPageID,
		CASE WHEN ISNULL(s.PageRange, '') = '' THEN s.StartPageNumber +'--' + s.EndPageNumber ELSE s.PageRange END AS PageRange,
		ISNULL(l.LanguageName, ''),
		ISNULL(g.GenreName, ''),
		ISNULL(m.MaterialTypeLabel, ''),
	    ISNULL(d.DOIName, '') AS DOIName,
		CASE WHEN ip.ItemPageID IS NULL THEN 0 ELSE 1 END,
		RTRIM(CASE WHEN s.Url = '' THEN 0 ELSE 1 END)
FROM	dbo.vwSegment s WITH (NOLOCK)
		LEFT JOIN dbo.Item si WITH (NOLOCK) ON s.ItemID = si.ItemID
		LEFT JOIN dbo.ItemRelationship r WITH (NOLOCK) ON si.ItemID = r.ChildID
		LEFT JOIN dbo.Item bi WITH (NOLOCK) ON r.ParentID = bi.ItemID
		LEFT JOIN dbo.ItemTitle it WITH (NOLOCK) ON bi.ItemID = it.ItemID AND it.IsPrimary = 1
		LEFT JOIN dbo.Title t WITH (NOLOCK) ON it.TitleID = t.TitleID
		LEFT JOIN dbo.ItemPage ip WITH (NOLOCK) ON s.ItemID = ip.ItemID
		INNER JOIN dbo.SegmentGenre g WITH (NOLOCK) ON s.SegmentGenreID = g.SegmentGenreID
		LEFT JOIN dbo.[Language] l WITH (NOLOCK) ON s.LanguageCode = l.LanguageCode
		LEFT JOIN dbo.MaterialType m WITH(NOLOCK) ON t.MaterialTypeID = m.MaterialTypeID
		LEFT JOIN dbo.DOI d WITH (NOLOCK) ON s.SegmentID = d.EntityID AND d.DOIStatusID IN (100, 200) AND d.DOIEntityTypeID = 40 AND d.IsValid = 1
WHERE	si.ItemStatusID IN (30, 40)
AND		(s.SegmentID = @SegmentID OR @SegmentID IS NULL)
AND		(s.BookID = @ItemID OR @ItemID IS NULL)

-- Add subjects, authors, and conributors
UPDATE	#tmpSegment
SET		Subjects = ISNULL(RTRIM(dbo.fnKeywordStringForSegment(SegmentID)) + ' ', '')

UPDATE	#tmpSegment
SET		Authors = ISNULL(RTRIM(dbo.fnAuthorSearchStringForSegment(SegmentID, 1)) + ' ', '')

UPDATE	#tmpSegment
SET		SearchAuthors = ISNULL(RTRIM(dbo.fnAuthorSearchStringForSegment(SegmentID, 0)) + ' ', '')

UPDATE	#tmpSegment
SET		Contributors = ISNULL(RTRIM(dbo.fnContributorStringForSegment(SegmentID)) + ' ', '')
	
UPDATE	#tmpSegment
SET		HasIllustrations = x.HasIllustrations
FROM	#tmpSegment s INNER JOIN (
			SELECT	t.SegmentID, MAX(CASE WHEN ppt.PageID IS NULL THEN 0 ELSE 1 END) AS HasIllustrations
			FROM	#tmpSegment t
					INNER JOIN dbo.ItemPage ip ON t.ItemID = ip.ItemID
					-- 3 = Illustration
					-- 10 = Map
					-- 14 = Foldout
					-- 18 = Drawing
					-- 19 = Table
					-- 20 = Photograph
					LEFT JOIN dbo.Page_PageType ppt ON ip.PageID = ppt.PageID AND ppt.PageTypeID IN (3, 10, 14, 18, 19, 20)
			GROUP BY
					t.SegmentID
			) x ON s.SegmentID = x.SegmentID

SELECT	SegmentID,
		Title,
		TranslatedTitle,
		SortTitle,
		ContainerTitle,
		Authors,
		SearchAuthors,
		Subjects,
		Contributors,
		Volume,
		Series,
		Issue,
		PublisherName,
		PublisherPlace,
		HasLocalContent,
		HasExternalContent,
		HasIllustrations,
		LanguageName,
		GenreName,
		MaterialTypeLabel,
		DOIName,
		Url,
		StartPageID,
		PageRange,
		[Date]
FROM	#tmpSegment

DROP TABLE #tmpSegment

END

GO
