#BookReader {
   bottom: 0;
    left: 30px;
    position: absolute;
    right: 30px;
    top: 0;
}

#BRtoolbar {
    height: 80px;
    position: absolute;
    top: 0;
    width: 100%;
    
}

#BRtoolbar .label {
    font-size:13px;
    color:#a6aeb6;
    width:84px;
    float:left;
    text-align:center;
    font-weight:bold;
    padding-top:7px;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	user-select:none;	    
}

.BRtoolbar-container
{
	margin:10px auto 0;
	width:100%;
	max-width:980px;
	overflow:hidden;
}

#BRtoolbar-modebuttons
{
	display:inline;
	float:left;
    position: absolute;
    left: 8%;
}

#BRtoolbar-zoombuttons
{
	display:inline;
	float:left;
	position:absolute;
	left:50%;
	width:160px;
	margin-left:-80px;
}

#BRtoolbar-navbuttons
{
	float:right;
	display:inline;
}
#BRtoolbar-navbuttons .BRicon
{
	margin:0;
}
#BRtoolbar-zoombuttons .BRicon
{
	margin:0;
}

#BRtoolbar-pages
{
	float:right;	
	margin-left:10px;
	display:inline;	
}
.ie7 #BRtoolbar-pages
{
	width:100px;
}
#BRtoolbar-pages input
{
	width:35px;
	text-align:center;
	font:14px Georgia, Times, serif;
	height:24px;
	margin-top:4px;
	background:#333;
	color:#fff;
	border:none;
	float:left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#BRtoolbar-pages .total
{
	color:#fff;
	display:block;
	float:left;
	height:30px;
	line-height:30px;
	padding:0 5px;
	color:#a6aeb6;
}

#BRpager
{
	/*height:6px; Hide for now*/
	height:0px;
	background:#a6aeb6;
	clear:both;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;	
	position:relative;
	margin:15px auto 0;
	width:100%;
	max-width:980px;
	display:none;
}

#BRpager .ui-slider-handle
{
	background:url("../images/bhlau images/bg_br_slider_handle.png") no-repeat;
	width:39px;
	height:38px;
	position:absolute;
	z-index:200;
	top:-17px;
	text-decoration:none;
	margin-left:-20px;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	user-select:none;
	outline:none;
}

#BRpager .ui-slider-handle.ui-state-hover
{
	background-position:0 -38px;
}

#BRpager .ui-slider-handle.ui-state-active
{
	background-position:0 -76px;
}


#BRcontainer {
    top:50px;
    bottom:5px;
    width:100%;
    overflow-x:auto;
    overflow-y:scroll;    
    background-color: #333;
    position:absolute;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#BRpageview {
    background-color: #333;
    overflow:hidden;
}

.BRpagediv1up {
    background-color:#EAE2CD;    
    cursor: move;
}

.BRpagediv1up img {
    -webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	user-select:none;
}

.BRpagedivthumb a {
    border: 0;
}

.BRpagedivthumb img {
    border: 0;
    background:#EAE2CD;
    -webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	user-select:none;	    
}

.BRpagediv2up {
    background-color: rgb(234, 226, 205);
    overflow:hidden;
}

#BRbookcover {
    border: 1px solid rgb(68, 25, 17);
    background-color: #663929;
    -moz-border-radius: 6px;
    -moz-box-shadow: 3px 3px 8px #222;
    -webkit-border-radius: 6px;
    -webkit-box-shadow: 2px 2px 8px #222;
}

.BRpageimage {
    background-color: rgb(234, 226, 205);
    -webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	user-select:none;
}

.BRleafEdgeR {
    border-style: solid solid solid none;
    border-color: rgb(51, 51, 34);
    border-width: 1px 1px 1px 0px;
    background: transparent url("../images/bhlau images/right_edges.png") repeat scroll 0% 0%;
    position: absolute;
}

.BRleafEdgeL {
    border-style: solid none solid solid;
    border-color: rgb(51, 51, 34);
    border-width: 1px 0px 1px 1px;
    background: transparent url("../images/bhlau images/left_edges.png") repeat scroll 0% 0%;
    position: absolute;
}

.BRleafEdgeTmp {
    border-style: solid none solid solid;
    border-color: rgb(51, 51, 34);
    border-width: 1px 0px 1px 1px;
    background: transparent url("../images/bhlau images/left_edges.png") repeat scroll 0% 0%;
    position: absolute;
}

#BRbookspine {
    border: 1px solid rgb(68, 25, 17);
    background-color: rgb(68, 25, 17);
    position: absolute;
}

/* search sidebar */
#BookReaderSearch {
    border:1px solid black;
    position:absolute;
    background-color: #E6E4E1;
    font-family: arial, sans-serif;
}

#BookReaderSearchResults {
    background-color: #FCFCFC;
    top: 25px;
    bottom: 0px;
    overflow:auto;    
    position: absolute;
    left: 0px;
    right: 0px;    
    font-family: arial, san-serif;
    font-size: 0.85em; 
    padding: 2px;
}

.BookReaderSearchHilite {
    opacity: 0.20;     
	filter: alpha(opacity = 20);
    background-color: #00f;
    position:absolute;
}

.BRpageform {
    display: inline; 
}

.BRicon {
    width:30px;
    height:30px;
    text-indent:-9999px;
    display:block;
    background:url(../images/bg_book_icons.png) no-repeat;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float: left;
	margin:0 10px 0 0;
	cursor:pointer;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	user-select:none;
}
.BRicon:hover, .BRicon.active:hover
{	
	
}
.BRicon.active, .BRicon.active:active
{
	border:0;
}

.BRicon.one_page_mode:hover, .BRicon.one_page_mode.active:hover { background-position:0 -30px; }
.BRicon.one_page_mode:active, .BRicon.one_page_mode.active:active { background-position:0 -60px; }
.BRicon.one_page_mode.active { background-position:0 -90px; }

.BRicon.two_page_mode {	background-position:-30px 0; }
.BRicon.two_page_mode:hover, .BRicon.two_page_mode.active:hover { background-position:-30px -30px; }
.BRicon.two_page_mode:active, .BRicon.two_page_mode.active:active { background-position:-30px -60px; }
.BRicon.two_page_mode.active { background-position:-30px -90px; }

.BRicon.thumbnail_mode { background-position:-60px 0; }
.BRicon.thumbnail_mode:hover, .BRicon.thumbnail_mode.active:hover { background-position:-60px -30px; }
.BRicon.thumbnail_mode:active, .BRicon.thumbnail_mode.active:active { background-position:-60px -60px; }
.BRicon.thumbnail_mode.active { background-position:-60px -90px; }

.BRicon.zoom_out { background-position:-90px 0; }
.BRicon.zoom_out:hover { background-position:-90px -30px; }
.BRicon.zoom_out:active { background-position:-90px -60px; }

.BRicon.zoom_in { background-position:-120px 0; }
.BRicon.zoom_in:hover { background-position:-120px -30px; }
.BRicon.zoom_in:active { background-position:-120px -60px; }

.BRicon.book_leftmost { display:none;background-position:-150px 0; }
.BRicon.book_leftmost:hover { background-position:-150px -30px; }
.BRicon.book_leftmost:active { background-position:-150px -60px; }

.BRicon.book_left { background-position:-180px 0; }
.BRicon.book_left:hover { background-position:-180px -30px; }
.BRicon.book_left:active { background-position:-180px -60px; }

.BRicon.book_right { background-position:-210px 0; }
.BRicon.book_right:hover { background-position:-210px -30px; }
.BRicon.book_right:active { background-position:-210px -60px; }

.BRicon.book_rightmost { display:none;background-position:-240px 0; }
.BRicon.book_rightmost:hover { background-position:-240px -30px; }
.BRicon.book_rightmost:active { background-position:-240px -60px; }

.BRicon.book_top { display:none;background-position:-270px 0; }
.BRicon.book_top:hover { background-position:-270px -30px; }
.BRicon.book_top:active { background-position:-270px -60px; }

.BRicon.book_up { background-position:-330px 0; }
.BRicon.book_up:hover { background-position:-330px -30px; }
.BRicon.book_up:active { background-position:-330px -60px; }

.BRicon.book_down { background-position:-300px 0; }
.BRicon.book_down:hover { background-position:-300px -30px; }
.BRicon.book_down:active { background-position:-300px -60px; }

.BRicon.book_bottom { display:none;background-position:-360px 0; }
.BRicon.book_bottom:hover { background-position:-360px -30px; }
.BRicon.book_bottom:active { background-position:-360px -60px; }

.BRicon.page_ocr { background-position:-390px 0; }
.BRicon.page_ocr:hover, .BRicon.page_ocr.active:hover { background-position:-390px -30px; }
.BRicon.page_ocr:active, .BRicon.page_ocr.active:active { background-position:-390px -60px; }
.BRicon.page_ocr.active { background-position:-390px -90px; }

.BRicon.page_names { background-position:-420px 0; }
.BRicon.page_names:hover, .BRicon.page_names.active:hover { background-position:-420px -30px; }
.BRicon.page_names:active, .BRicon.page_names.active:active { background-position:-420px -60px; }
.BRicon.page_names.active { background-position:-420px -90px; }

.BRicon.add_to_pdf { background-position:-450px 0; }
.BRicon.add_to_pdf:hover, .BRicon.add_to_pdf.active:hover { background-position:-450px -30px; }
.BRicon.add_to_pdf:active, .BRicon.add_to_pdf.active:active { background-position:-450px -60px; }
.BRicon.add_to_pdf.active { background-position:-450px -90px; }

.BRicon.page_link { background-position:-480px 0; }
.BRicon.page_link:hover, .BRicon.page_link.active:hover { background-position:-480px -30px; }
.BRicon.page_link:active, .BRicon.page_link.active:active { background-position:-480px -60px; }
.BRicon.page_link.active { background-position:-480px -90px; }

.BRicon.page_print { background-position:-510px 0; }
.BRicon.page_print:hover, .BRicon.page_print.active:hover { background-position:-510px -30px; }
.BRicon.page_print:active, .BRicon.page_print.active:active { background-position:-510px -60px; }
.BRicon.page_print.active { background-position:-510px -90px; }

.BRicon.pop_ocr { background-position:-540px 0; }
.BRicon.pop_ocr:hover { background-position:-540px -30px; }
.BRicon.pop_ocr:active { background-position:-540px -60px; }

.BRicon.loading, .BRicon.loading:hover, .BRicon.loading:active
{
	background:#455667 url("../images/bhlau images/bg_loading_bricon.gif") center center no-repeat;
}

/* footer stuff, from Rebecca's demo */
#BRfooter { 
    position:absolute;
    bottom: 1px;        /* ensure no vertical scroll bar in FF */
    left: 0px;
    /*width: 100%;*/    /* this causes horizontal scroll bar in FF */
    right: 0px;
    clear: both; 
    color: #000000; 
    padding: 0px 0px 0px 10px; 
    background: #CCCCCC; 
    height: 2em; 
    line-height: 25px; 
    vertical-align: middle; 
    font-family: arial, sans-serif;
    font-size: 12px;
}

.BRlogotype {
    float:left;
    font-weight: bold; 
    height: 25px;
    line-height: 25px; 
    vertical-align: middle; 
}

a.BRwhite               { color: #fff }
a.BRwhite:hover         { text-decoration: none; }
a.BRwhite:visited       { color: #fff }

a.BRblack           { color: #000000 }
a.BRblack:hover     { text-decoration: none; }
a.BRblack:visited   { color: #000000 }

.BRnavlinks {
    float:right; 
    padding: 0px 20px 0px 0px; 
    margin: 0px; 
    height: 25px; 
    line-height: 25px; 
    vertical-align: middle;
}

/* thumnbail view, from Rebecca's demo */
.BRpdstatus-footer {
    position:absolute;
    height: 65px;
    bottom: 25px;
    width: 100%;
    background-color: #f8f8f8;
    border-top: 1px solid #ccc; 
    text-align: right; 
    padding: 0px 0px 0px 0px; 
}

.BRwidgetlabel { 
    color: #919070; 
    padding: 8px 8px 4px 8px; 
    font-family: verdana, arial, helvetica, sans-serif; 
    font-size: 10px; 
    float: left; 
}

.BRfliparea {
    background-image: url("../images/bhlau images/transparent.png");
}

.BRtwoPagePopUp {    
    padding:10px;
    position: absolute;        
    color:#fff;
    font-size:14px;
	background:#266099;
    -webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

#pageSearch-panel {
    background-color: #2b3c4c;
    height: 600px;
}

/* Search Within Book */
.sibHeader {
    margin: 0px 0 0 0;
    padding: 15px 0 15px 0;
    background-color: #455666;
}

.sibHeaderTitle {
    margin: 0px 0px 5px 15px;
    font-size: 16px;
}

.sibHeaderText {
    margin: 0px 0px 0px 15px;
}

.sibHeaderText input[type="text"] {
    width: 250px;
}

.sibHeaderText input[type="button"] {
}

.sibFacetContainer {
    padding: 0px 0px 10px 0px;
    font-size: 12px;
}

.sibFacetBox {
    margin: 5px 10px 5px 10px;
    border-color: #222F3B;
    border-style: solid;
    border-width: 1px;
    background-color: #19232C;
}

.sibFacetBox hr {
    margin: 3px 15px 3px 15px;
}

.sibFacetHeader {
    padding: 5px 0px 5px 15px;
    background-color: #1E2B36;
    font-size: 13px;
}

.sibFacetLabel {
    margin: 0px 0px 3px 15px;
}

.sibFacetValues {
    margin: 0px 0px 5px 30px;
    font-size: 13px;
    font-style: italic;
}

#searchResults {
    display: none;
}

.sibResultsHeader {
    padding: 10px 0px 10px 15px;
    font-size: 14px;
}

.sibResultsContainer {
    padding: 0px 0px 10px 0px;
    font-size: 12px;
    max-height: 450px;
    overflow: auto;
}

.sibResultsBox {
    margin: 5px 10px 5px 10px;
    border-color: #222F3B;
    border-style: solid;
    border-width: 1px;
    background-color: #19232C;
}

.sibResultBox {
    margin: 5px 0px 5px 15px;
}

.sibResultPage, .sibResultPage:hover, .sibResultPage:visited {
    color: #98CDCF;
}

.sibResultText {
    margin: 3px 0px 3px 20px;
    font-style: italic;
}

.sibResultText b {
    color: #fcd3a1;
}

.sibBtn {
    background: #525c6b;
    background-image: -webkit-linear-gradient(top, #525c6b, #2b3038);
    background-image: -moz-linear-gradient(top, #525c6b, #2b3038);
    background-image: -ms-linear-gradient(top, #525c6b, #2b3038);
    background-image: -o-linear-gradient(top, #525c6b, #2b3038);
    background-image: linear-gradient(to bottom, #525c6b, #2b3038);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 6px;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    padding: 2px 3px 2px 3px;
    text-decoration: none;
}

.sibBtn:hover {
    background: #7994a3;
    background-image: -webkit-linear-gradient(top, #7994a3, #5b6e7a);
    background-image: -moz-linear-gradient(top, #7994a3, #5b6e7a);
    background-image: -ms-linear-gradient(top, #7994a3, #5b6e7a);
    background-image: -o-linear-gradient(top, #7994a3, #5b6e7a);
    background-image: linear-gradient(to bottom, #7994a3, #5b6e7a);
    text-decoration: none;
}
