@model MOBOT.BHL.AdminWeb.Models.CitationImportModel

@{
    ViewBag.Title = "Import Segments - Getting Started";
}

<p><a href="/">&lt; Return to Dashboard</a></p>
<span class="pageHeader">@ViewBag.Title</span><hr />
<br />

<div class="citeImport">

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div style="margin-bottom:10px">
        <p>For the best results, download and use one of the following templates to load segment data into BHL:
            <ul>
                <li><a href="/Upload/Citation/ImportSegmentTemplate.txt">Text</a></li>
                <li><a href="/Upload/Citation/ImportSegmentTemplate.xls">XLS</a></li>
                <li><a href="/Upload/Citation/ImportSegmentTemplate.xlsx">XLSX</a></li>
            </ul>
        </p>
        <p>To ensure that segments are correctly imported when using the templates, please supply either BHL Item or Page IDs for each segment.
            If you do NOT use one of the templates, please include as much segment detail as possible in a text, XLS, or XLSX file.  For example,
            supply details such as Journal Title, Volume, Date, Start/End Page Numbers, DOI, ISSN, and OCLC.  Note that not having BHL IDs
            decreases the likelihood of good matches with existing BHL content.</p>
        <p>Text files must be tab-delimited, use standard carriage returns for row delimiters, and no text qualifiers (i.e. no quotes around
            text values).  ALL files must include column names in the first row.</p>
        <input class="formButton" type="submit" name="btnNext" id="btnNext" value="Next >" />
        <input class="formButton" type="button" name="btnCancel" id="btnCancel" value="Cancel" />
    </div>
}

    </div>

<script type="text/javascript">
    $(document).ready(function(){
        $("#btnCancel").click(function () {
            window.location.href = "/";
        });
    });
</script>
