<p style="display:@ViewBag.CollectionDisplay">
    <div class="featurebox-small">
        <h3>Featured Content</h3>
        <h4>@ViewBag.CollectionName</h4>
        <a href="/collection/@ViewBag.CollectionUrl" class="featurebutton-small">Explore</a>
    </div>
</p>

