<div id="FeatureBox1_panSupport">
    <div class="featurebox support">
        <h3>Help Support <span>BHL</span></h3>
        <p>BHL's existence depends on the support of its patrons. Help us keep this free resource alive!</p>
        <a class="featurebutton-home" target="_blank" href="http://library.si.edu/donate-bhl">Donate Now</a>
    </div>
</div>