<p>
    <div class="featurebox-small">
        <h3>Support <span>BHL</span></h3>
        <p>Help us keep this free resource alive!</p>
        <a target="_blank" rel="noopener noreferrer" href="@MOBOT.BHL.Web2.AppConfig.DonateUrl" class="featurebutton-small">Donate</a>
    </div>
</p>

