@if (System.Web.Configuration.WebConfigurationManager.AppSettings["ShowNewFuture"].ToLower() == "true")
{
    <div id="FeatureBox1_panSupport">
        <div class="featurebox newfuture">
            <h3>Future of BHL</h3>
            <p>BHL's future is uncertain, but hopeful. Follow the latest news of our ongoing transition.</p>
            <a class="featurebutton-home" target="_blank" rel="noopener noreferrer" href="@System.Configuration.ConfigurationManager.AppSettings["NewFutureNewsUrl"]">Learn More</a>
        </div>
    </div>
}
else
{
    <div id="FeatureBox1_panSupport">
        <div class="featurebox support">
            <h3>Help Support <span>BHL</span></h3>
            <p>BHL's existence depends on the support of its patrons. Help us keep this free resource alive!</p>
            <a class="featurebutton-home" target="_blank" rel="noopener noreferrer" href="@System.Configuration.ConfigurationManager.AppSettings["DonateUrl"]">Donate Now</a>
        </div>
    </div>
}