<?xml version="1.0"?>
<configuration>
    <system.web>
		<webServices>
			<protocols>
				<remove name="HttpPost"/>
				<add name="HttpPost"/>
			</protocols>
		</webServices>
	</system.web>
</configuration>