CREATE PROCEDURE [dbo].[ApiPageSelectBySegmentID]

@SegmentID INT

AS 

SET NOCOUNT ON

SELECT	p.PageID,
		ip.SequenceOrder,
		p.[Year],
		p.Series,
		p.Volume,
		p.Issue,
		COALESCE(l.TextSource, 'OCR') AS TextSource,
		dbo.fnAPIIndicatedPageStringForPage(p.PageID) AS PageNumbers,
		SUBSTRING(LTRIM(RTRIM(COALESCE(PageTypes.TypeString, ''))), 1, 1024) AS PageTypeName
FROM	dbo.Segment s
		INNER JOIN dbo.ItemPage ip ON s.ItemID = ip.ItemID
		INNER JOIN dbo.Page p ON ip.PageID = p.PageID
		OUTER APPLY (
				SELECT  TOP 1 TextSource
				FROM    dbo.PageTextLog 
				WHERE   PageID = p.PageID
				ORDER BY PageTextLogID DESC
			) l
		-- Replaces fnPageTypeStringForPage
		CROSS APPLY (
			SELECT	STRING_AGG(pt.PageTypeName, ', ') 
						WITHIN GROUP (ORDER BY pt.PageTypeName ASC) AS TypeString
			FROM	dbo.Page_PageType ppt
					INNER JOIN dbo.PageType pt ON ppt.PageTypeID = pt.PageTypeID
			WHERE	ppt.PageID = p.PageID
		) AS PageTypes
WHERE	s.SegmentID = @SegmentID
ORDER BY
		ip.SequenceOrder ASC

GO
