SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ApiPageSelectByNameIdentifier]

@IdentifierName nvarchar(40),
@IdentifierValue nvarchar(125)

AS 

SET NOCOUNT ON

DECLARE @Abbreviation int
DECLARE @BPH int
DECLARE @TL2 int
DECLARE @IdentifierID int

SELECT @Abbreviation = IdentifierID FROM dbo.Identifier WHERE IdentifierName = 'Abbreviation'
SELECT @BPH = IdentifierID FROM dbo.Identifier WHERE IdentifierName = 'BPH'
SELECT @TL2 = IdentifierID FROM dbo.Identifier WHERE IdentifierName = 'TL2'
SELECT @IdentifierID = IdentifierID FROM dbo.Identifier WHERE IdentifierName = @IdentifierName

-- Find the Resolved Name matching the specified identifier, and return all names with matching Canonical forms
SELECT	canon.NameResolvedID, canon.ResolvedNameString, canon.CanonicalNameString, canon.CreationDate
INTO	#NameResolved
FROM	dbo.NameIdentifier ni WITH (NOLOCK)
		INNER JOIN dbo.NameResolved nr WITH (NOLOCK) ON ni.NameResolvedID = nr.NameResolvedID
		INNER JOIN dbo.NameResolved canon WITH (NOLOCK) ON nr.ResolvedNameString = canon.CanonicalNameString
WHERE	ni.IdentifierValue = @IdentifierValue
AND		ni.IdentifierID = @IdentifierID

-- Get the detail for the specified NameBankID
SELECT DISTINCT
		@IdentifierValue AS NameBankID, nr.NameResolvedID, nr.ResolvedNameString, nr.CanonicalNameString, nr.CreationDate,
		t.TitleID, t.MARCBibID, t.ShortTitle, t.SortTitle,
		CASE WHEN ISNULL(b.CallNumber, '') = '' THEN t.CallNumber else b.CallNumber END AS CallNumber, 
		t.Datafield_260_a AS PublisherPlace, 
		t.Datafield_260_b AS PublisherName, t.Datafield_260_c AS PublicationDate, 
		t.TL2Author, bph.IdentifierValue AS BPH, tl2.IdentifierValue AS TL2, 
		abbrev.IdentifierValue AS Abbreviation,
		'https://www.biodiversitylibrary.org/title/' + CONVERT(nvarchar(20), t.TitleID) AS TitleURL,
		b.BookID AS ItemID, s.SourceName, b.Barcode, b.MARCItemID, b.Volume AS VolumeInfo,
		c.ItemContributors AS InstitutionName,
		'https://www.biodiversitylibrary.org/item/' + CONVERT(nvarchar(20), b.BookID) AS ItemURL,
		p.PageID, p.[Year], p.Volume, p.Issue,
		COALESCE(l.TextSource, 'OCR') AS TextSource,
		ip.PagePrefix, ip.PageNumber,
		'https://www.biodiversitylibrary.org/page/' + CONVERT(nvarchar(20), p.PageID) AS PageURL,
		'https://www.biodiversitylibrary.org/pagethumb/' + CONVERT(nvarchar(20), p.PageID) AS ThumbnailURL,
		'https://www.biodiversitylibrary.org/pageimage/' + CONVERT(nvarchar(20), p.PageID) AS FullSizeImageURL,
		-- Image viewer address
		REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(s.ImageServerUrlFormat, '{0}', ''), '{1}', ''), '{2}', ''), '{3}', 'https://www.biodiversitylibrary.org/pageimage/' + CONVERT(nvarchar(20), p.PageID)), '{4}', 'https://www.biodiversitylibrary.org/pageimage/' + CONVERT(nvarchar(20), p.PageID)), '&amp;', '&') AS ImageURL,
		'https://www.biodiversitylibrary.org/pagetext/' + CONVERT(nvarchar(20), p.PageID) AS OcrURL,
		pt.PageTypeName
INTO	#Final
FROM	#NameResolved nr
		INNER JOIN dbo.Name n WITH (NOLOCK) ON nr.NameResolvedID = n.NameResolvedID
		INNER JOIN NamePage np WITH (NOLOCK) ON n.NameID = np.NameID
		INNER JOIN Page p WITH (NOLOCK) ON np.PageID = p.PageID
		OUTER APPLY (
				SELECT  TOP 1 TextSource
				FROM    dbo.PageTextLog 
				WHERE   PageID = p.PageID
				ORDER BY PageTextLogID DESC
			) l
		LEFT JOIN IndicatedPage ip WITH (NOLOCK) ON p.PageID = ip.PageID
		INNER JOIN dbo.ItemPage ipg WITH (NOLOCK) ON p.PageID = ipg.PageID
		INNER JOIN Item i WITH (NOLOCK) ON ipg.ItemID = i.ItemID
		INNER JOIN dbo.Book b WITH (NOLOCK) ON i.ItemID = b.ItemID
		INNER JOIN dbo.ItemSource s WITH (NOLOCK) ON i.ItemSourceID = s.ItemSourceID
		INNER JOIN dbo.ItemTitle it WITH (NOLOCK) ON i.ItemID = it.ItemID
		INNER JOIN dbo.Title t WITH (NOLOCK) ON it.TitleID = t.TitleID AND it.IsPrimary = 1
		INNER JOIN dbo.SearchCatalog c ON c.TitleID = t.TitleID AND c.ItemID = b.BookID
		LEFT JOIN Page_PageType ppt WITH (NOLOCK) ON p.PageID = ppt.PageID
		LEFT JOIN PageType pt WITH (NOLOCK) ON ppt.PageTypeID = pt.PageTypeID
		LEFT JOIN Title_Identifier	abbrev WITH (NOLOCK)
			ON t.TitleID = abbrev.TitleID AND abbrev.IdentifierID = @Abbreviation
		LEFT JOIN Title_Identifier bph WITH (NOLOCK)
			ON t.TitleID = bph.TitleID AND bph.IdentifierID = @BPH
		LEFT JOIN Title_Identifier tl2 WITH (NOLOCK)
			ON t.TitleID = tl2.TitleID AND tl2.IdentifierID = @TL2

SELECT	NameBankID, NameResolvedID, ResolvedNameString, CanonicalNameString, CreationDate, TitleID, MARCBibID, 
		ShortTitle, CallNumber, PublisherPlace, PublisherName, PublicationDate, TL2Author, BPH, TL2, 
		Abbreviation, TitleURL, ItemID, SourceName, Barcode, MARCItemID, VolumeInfo, InstitutionName,
		ItemURL, PageID, [Year], Volume, Issue, TextSource, PagePrefix, PageNumber, PageURL, ThumbnailURL, 
		FullSizeImageURL, ImageURL, OcrURL,PageTypeName
FROM	#Final
ORDER BY
		SortTitle, ItemID, [Year], Volume, PageNumber


GO
