CREATE PROCEDURE [dbo].[ApiPageSelectByItemID]

@ItemID INT

AS 

SET NOCOUNT ON

DECLARE @RedirItemID int
SELECT @RedirItemID = RedirectBookID FROM dbo.Book WHERE BookID = @ItemID

IF (@RedirItemID IS NOT NULL)
	exec [dbo].[ApiPageSelectByItemID] @RedirItemID
ELSE
	SELECT	p.PageID,
			b.BookID AS ItemID,
			ip.SequenceOrder,
			p.[Year],
			p.Series,
			p.Volume,
			p.Issue,
			COALESCE(l.TextSource, 'OCR') AS TextSource,
			dbo.fnAPIIndicatedPageStringForPage(p.PageID) AS PageNumbers,
	        SUBSTRING(LTRIM(RTRIM(COALESCE(PageTypes.TypeString, ''))), 1, 1024) AS PageTypeName
	FROM	dbo.Page p 
			OUTER APPLY (
					SELECT  TOP 1 TextSource
					FROM    dbo.PageTextLog 
					WHERE   PageID = p.PageID
					ORDER BY PageTextLogID DESC
				) l
			INNER JOIN dbo.ItemPage ip ON p.PageID = ip.PageID
			INNER JOIN dbo.Book b ON ip.ItemID = b.ItemID
			-- Replaces fnPageTypeStringForPage
			CROSS APPLY (
				SELECT	STRING_AGG(pt.PageTypeName, ', ') 
							WITHIN GROUP (ORDER BY pt.PageTypeName ASC) AS TypeString
				FROM	dbo.Page_PageType ppt
						INNER JOIN dbo.PageType pt ON ppt.PageTypeID = pt.PageTypeID
				WHERE	ppt.PageID = p.PageID
			) AS PageTypes
	WHERE	b.BookID = @ItemID
	AND		p.Active = 1
	ORDER BY
			ip.SequenceOrder ASC

GO
