SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

---------------------------------------------------------

CREATE PROCEDURE dbo.BookUpdateAuto

@BookID INT,
@ItemID INT,
@RedirectBookID INT,
@ThumbnailPageID INT,
@LanguageCode NVARCHAR(10),
@BarCode NVARCHAR(200),
@MARCItemID NVARCHAR(50),
@CallNumber NVARCHAR(100),
@Volume NVARCHAR(100),
@StartYear NVARCHAR(20),
@EndYear NVARCHAR(20),
@StartVolume NVARCHAR(10),
@EndVolume NVARCHAR(10),
@StartIssue NVARCHAR(10),
@EndIssue NVARCHAR(10),
@StartNumber NVARCHAR(10),
@EndNumber NVARCHAR(10),
@StartSeries NVARCHAR(10),
@EndSeries NVARCHAR(10),
@StartPart NVARCHAR(10),
@EndPart NVARCHAR(10),
@IdentifierBib NVARCHAR(50),
@ZQuery NVARCHAR(200),
@Sponsor NVARCHAR(100),
@ExternalUrl NVARCHAR(500),
@LicenseUrl NVARCHAR(MAX),
@Rights NVARCHAR(MAX),
@DueDiligence NVARCHAR(MAX),
@CopyrightStatus NVARCHAR(MAX),
@CopyrightRegion NVARCHAR(50),
@CopyrightComment NVARCHAR(MAX),
@CopyrightEvidence NVARCHAR(MAX),
@ScanningUser NVARCHAR(100),
@ScanningDate DATETIME,
@PaginationStatusID INT,
@PaginationStatusDate DATETIME,
@PaginationStatusUserID INT,
@PaginationCompleteDate DATETIME,
@PaginationCompleteUserID INT,
@LastPageNameLookupDate DATETIME,
@IsVirtual TINYINT,
@LastModifiedUserID INT,
@PageProgression NVARCHAR(10)

AS 

SET NOCOUNT ON

UPDATE [dbo].[Book]
SET
	[ItemID] = @ItemID,
	[RedirectBookID] = @RedirectBookID,
	[ThumbnailPageID] = @ThumbnailPageID,
	[LanguageCode] = @LanguageCode,
	[BarCode] = @BarCode,
	[MARCItemID] = @MARCItemID,
	[CallNumber] = @CallNumber,
	[Volume] = @Volume,
	[StartYear] = @StartYear,
	[EndYear] = @EndYear,
	[StartVolume] = @StartVolume,
	[EndVolume] = @EndVolume,
	[StartIssue] = @StartIssue,
	[EndIssue] = @EndIssue,
	[StartNumber] = @StartNumber,
	[EndNumber] = @EndNumber,
	[StartSeries] = @StartSeries,
	[EndSeries] = @EndSeries,
	[StartPart] = @StartPart,
	[EndPart] = @EndPart,
	[IdentifierBib] = @IdentifierBib,
	[ZQuery] = @ZQuery,
	[Sponsor] = @Sponsor,
	[ExternalUrl] = @ExternalUrl,
	[LicenseUrl] = @LicenseUrl,
	[Rights] = @Rights,
	[DueDiligence] = @DueDiligence,
	[CopyrightStatus] = @CopyrightStatus,
	[CopyrightRegion] = @CopyrightRegion,
	[CopyrightComment] = @CopyrightComment,
	[CopyrightEvidence] = @CopyrightEvidence,
	[ScanningUser] = @ScanningUser,
	[ScanningDate] = @ScanningDate,
	[PaginationStatusID] = @PaginationStatusID,
	[PaginationStatusDate] = @PaginationStatusDate,
	[PaginationStatusUserID] = @PaginationStatusUserID,
	[PaginationCompleteDate] = @PaginationCompleteDate,
	[PaginationCompleteUserID] = @PaginationCompleteUserID,
	[LastPageNameLookupDate] = @LastPageNameLookupDate,
	[IsVirtual] = @IsVirtual,
	[LastModifiedDate] = getdate(),
	[LastModifiedUserID] = @LastModifiedUserID,
	[PageProgression] = @PageProgression
WHERE
	[BookID] = @BookID
		
IF @@ERROR <> 0
BEGIN
	-- raiserror will throw a SqlException
	RAISERROR('An error occurred in procedure dbo.BookUpdateAuto. No information was updated as a result of this request.', 16, 1)
	RETURN 9 -- error occurred
END
ELSE BEGIN
	SELECT
		[BookID],
		[ItemID],
		[RedirectBookID],
		[ThumbnailPageID],
		[LanguageCode],
		[BarCode],
		[MARCItemID],
		[CallNumber],
		[Volume],
		[StartYear],
		[EndYear],
		[StartVolume],
		[EndVolume],
		[StartIssue],
		[EndIssue],
		[StartNumber],
		[EndNumber],
		[StartSeries],
		[EndSeries],
		[StartPart],
		[EndPart],
		[IdentifierBib],
		[ZQuery],
		[Sponsor],
		[ExternalUrl],
		[LicenseUrl],
		[Rights],
		[DueDiligence],
		[CopyrightStatus],
		[CopyrightRegion],
		[CopyrightComment],
		[CopyrightEvidence],
		[ScanningUser],
		[ScanningDate],
		[PaginationStatusID],
		[PaginationStatusDate],
		[PaginationStatusUserID],
		[PaginationCompleteDate],
		[PaginationCompleteUserID],
		[LastPageNameLookupDate],
		[IsVirtual],
		[CreationDate],
		[LastModifiedDate],
		[CreationUserID],
		[LastModifiedUserID],
		[PageProgression]
	FROM [dbo].[Book]
	WHERE
		[BookID] = @BookID
	
	RETURN -- update successful
END
GO
