SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

---------------------------------------------------------

CREATE PROCEDURE [dbo].[BookInsertAuto]

@BookID INT OUTPUT,
@ItemID INT,
@RedirectBookID INT = null,
@ThumbnailPageID INT = null,
@LanguageCode NVARCHAR(10) = null,
@BarCode NVARCHAR(200),
@MARCItemID NVARCHAR(50) = null,
@CallNumber NVARCHAR(100) = null,
@Volume NVARCHAR(100) = null,
@StartYear NVARCHAR(20) = null,
@EndYear NVARCHAR(20),
@StartVolume NVARCHAR(10),
@EndVolume NVARCHAR(10),
@StartIssue NVARCHAR(10),
@EndIssue NVARCHAR(10),
@StartNumber NVARCHAR(10),
@EndNumber NVARCHAR(10),
@StartSeries NVARCHAR(10),
@EndSeries NVARCHAR(10),
@StartPart NVARCHAR(10),
@EndPart NVARCHAR(10),
@IdentifierBib NVARCHAR(50) = null,
@ZQuery NVARCHAR(200) = null,
@Sponsor NVARCHAR(100) = null,
@ExternalUrl NVARCHAR(500) = null,
@LicenseUrl NVARCHAR(MAX) = null,
@Rights NVARCHAR(MAX) = null,
@DueDiligence NVARCHAR(MAX) = null,
@CopyrightStatus NVARCHAR(MAX) = null,
@CopyrightRegion NVARCHAR(50) = null,
@CopyrightComment NVARCHAR(MAX) = null,
@CopyrightEvidence NVARCHAR(MAX) = null,
@ScanningUser NVARCHAR(100) = null,
@ScanningDate DATETIME = null,
@PaginationStatusID INT = null,
@PaginationStatusDate DATETIME = null,
@PaginationStatusUserID INT = null,
@PaginationCompleteDate DATETIME = null,
@PaginationCompleteUserID INT = null,
@LastPageNameLookupDate DATETIME = null,
@IsVirtual TINYINT,
@CreationUserID INT = null,
@LastModifiedUserID INT = null

AS 

SET NOCOUNT ON

INSERT INTO [dbo].[Book]
( 	[ItemID],
	[RedirectBookID],
	[ThumbnailPageID],
	[LanguageCode],
	[BarCode],
	[MARCItemID],
	[CallNumber],
	[Volume],
	[StartYear],
	[EndYear],
	[StartVolume],
	[EndVolume],
	[StartIssue],
	[EndIssue],
	[StartNumber],
	[EndNumber],
	[StartSeries],
	[EndSeries],
	[StartPart],
	[EndPart],
	[IdentifierBib],
	[ZQuery],
	[Sponsor],
	[ExternalUrl],
	[LicenseUrl],
	[Rights],
	[DueDiligence],
	[CopyrightStatus],
	[CopyrightRegion],
	[CopyrightComment],
	[CopyrightEvidence],
	[ScanningUser],
	[ScanningDate],
	[PaginationStatusID],
	[PaginationStatusDate],
	[PaginationStatusUserID],
	[PaginationCompleteDate],
	[PaginationCompleteUserID],
	[LastPageNameLookupDate],
	[IsVirtual],
	[CreationDate],
	[LastModifiedDate],
	[CreationUserID],
	[LastModifiedUserID] )
VALUES
( 	@ItemID,
	@RedirectBookID,
	@ThumbnailPageID,
	@LanguageCode,
	@BarCode,
	@MARCItemID,
	@CallNumber,
	@Volume,
	@StartYear,
	@EndYear,
	@StartVolume,
	@EndVolume,
	@StartIssue,
	@EndIssue,
	@StartNumber,
	@EndNumber,
	@StartSeries,
	@EndSeries,
	@StartPart,
	@EndPart,
	@IdentifierBib,
	@ZQuery,
	@Sponsor,
	@ExternalUrl,
	@LicenseUrl,
	@Rights,
	@DueDiligence,
	@CopyrightStatus,
	@CopyrightRegion,
	@CopyrightComment,
	@CopyrightEvidence,
	@ScanningUser,
	@ScanningDate,
	@PaginationStatusID,
	@PaginationStatusDate,
	@PaginationStatusUserID,
	@PaginationCompleteDate,
	@PaginationCompleteUserID,
	@LastPageNameLookupDate,
	@IsVirtual,
	getdate(),
	getdate(),
	@CreationUserID,
	@LastModifiedUserID )

SET @BookID = Scope_Identity()

IF @@ERROR <> 0
BEGIN
	-- raiserror will throw a SqlException
	RAISERROR('An error occurred in procedure dbo.BookInsertAuto. No information was inserted as a result of this request.', 16, 1)
	RETURN 9 -- error occurred
END
ELSE BEGIN
	SELECT
		[BookID],
		[ItemID],
		[RedirectBookID],
		[ThumbnailPageID],
		[LanguageCode],
		[BarCode],
		[MARCItemID],
		[CallNumber],
		[Volume],
		[StartYear],
		[EndYear],
		[StartVolume],
		[EndVolume],
		[StartIssue],
		[EndIssue],
		[StartNumber],
		[EndNumber],
		[StartSeries],
		[EndSeries],
		[StartPart],
		[EndPart],
		[IdentifierBib],
		[ZQuery],
		[Sponsor],
		[ExternalUrl],
		[LicenseUrl],
		[Rights],
		[DueDiligence],
		[CopyrightStatus],
		[CopyrightRegion],
		[CopyrightComment],
		[CopyrightEvidence],
		[ScanningUser],
		[ScanningDate],
		[PaginationStatusID],
		[PaginationStatusDate],
		[PaginationStatusUserID],
		[PaginationCompleteDate],
		[PaginationCompleteUserID],
		[LastPageNameLookupDate],
		[IsVirtual],
		[CreationDate],
		[LastModifiedDate],
		[CreationUserID],
		[LastModifiedUserID]	
	FROM [dbo].[Book]
	WHERE
		[BookID] = @BookID
	
	RETURN -- insert successful
END


GO
