SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ExportSegmentAuthor]

AS

BEGIN

SET NOCOUNT ON

SELECT	s.SegmentID,
		a.AuthorID,
		n.FullName + 
			CASE WHEN a.Numeration = '' THEN '' ELSE ' ' + a.Numeration END + 
			CASE WHEN a.Unit = '' THEN '' ELSE ' ' + a.Unit END + 
			CASE WHEN a.Title = '' THEN '' ELSE ' '  + a.Title END + 
			CASE WHEN a.Location = '' THEN '' ELSE ' ' + a.Location END  + 
			CASE WHEN n.FullerForm = '' THEN '' ELSE ' ' + n.FullerForm END + 
			CASE WHEN a.StartDate = '' THEN '' ELSE ' ' + a.StartDate + '-' END + a.EndDate AS CreatorName,
		CONVERT(NVARCHAR(16), ia.CreationDate, 120) AS CreationDate,
		scs.HasLocalContent,
		scs.HasExternalContent
FROM	dbo.Segment s WITH (NOLOCK)
		INNER JOIN dbo.ItemAuthor ia WITH (NOLOCK) ON s.ItemID = ia.ItemID
		INNER JOIN dbo.Author a WITH (NOLOCK) ON ia.AuthorID = a.AuthorID
		INNER JOIN dbo.AuthorName n WITH (NOLOCK) ON a.AuthorID = n.AuthorID AND n.IsPreferredName = 1
		INNER JOIN dbo.SearchCatalogSegment scs WITH (NOLOCK) ON s.SegmentID = scs.SegmentID
ORDER BY
		s.SegmentID,
		ia.SequenceOrder

END


GO
