SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

---------------------------------------------------------

CREATE PROCEDURE [dbo].[ItemRelationshipDeleteAuto]

@RelationshipID INT

AS 

SET NOCOUNT ON

DELETE 
FROM	
	[dbo].[ItemRelationship]
WHERE	
	[RelationshipID] = @RelationshipID

IF @@ERROR <> 0
BEGIN
	-- raiserror will throw a SqlException
	RAISERROR('An error occurred in procedure dbo.ItemRelationshipDeleteAuto. No information was deleted as a result of this request.', 16, 1)
	RETURN 9 -- error occurred 
END
ELSE BEGIN
	RETURN 0 -- delete successful
END


GO
