SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ItemSelectByPageID]

@PageID int

AS 

SET NOCOUNT ON

BEGIN

SELECT	b.BookID AS ItemID,
		b.Barcode,
		b.Volume,
		b.StartYear AS Year,
		b.PaginationStatusID,
		b.PaginationStatusUserID,
		i.CreationDate,
		i.CreationUserID,
		i.LastModifiedDate,
		i.LastModifiedUserID
FROM	dbo.Item i
		INNER JOIN dbo.Book b ON i.ItemID = b.ItemID
		INNER JOIN dbo.ItemPage ip ON i.ItemID = ip.ItemID
		INNER JOIN dbo.Page p ON ip.PageID = p.PageID
WHERE	p.PageID = @PageID

END 


GO
