SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ItemSelectWithExpiredPageNames]

@MaxAge INT  -- Maximum allowed age of page names (in days)

AS 

SET NOCOUNT ON

SELECT	b.BookID AS ItemID,
		pt.TitleID AS [PrimaryTitleID],
		[BarCode],
		[MARCItemID],
		[CallNumber],
		[Volume],
		[LanguageCode],
		[ItemDescription],
		NULL AS [ScannedBy],
		NULL AS [PDFSize],
		[VaultID],
		[Note],
		i.[CreationDate],
		i.[LastModifiedDate],
		i.[CreationUserID],
		i.[LastModifiedUserID],
		[ItemStatusID],
		[ItemSourceID],
		b.[ScanningUser],
		b.[ScanningDate],
		b.StartYear AS [Year],
		[IdentifierBib],
		[PaginationCompleteUserID],
		[PaginationCompleteDate],
		[PaginationStatusID],
		[PaginationStatusUserID],
		[PaginationStatusDate],
		[LastPageNameLookupDate]
FROM	[dbo].[Item] i
		INNER JOIN dbo.Book b ON i.ItemID = b.ItemID
		INNER JOIN dbo.vwItemPrimaryTitle pt ON i.ItemID = pt.ItemID
WHERE	DATEDIFF(day, [LastPageNameLookupDate], GETDATE()) > @MaxAge
AND		[ItemStatusID] = 40

IF @@ERROR <> 0
BEGIN
	-- raiserror will throw a SqlException
	RAISERROR('An error occurred in procedure ItemSelectWithExpiredPageNames. No information was selected.', 16, 1)
	RETURN 9 -- error occurred
END
ELSE BEGIN
	RETURN -- select successful
END


GO
