CREATE OR ALTER PROCEDURE [dbo].[NameResolvedSearchForPages]

@ResolvedNameString nvarchar(100),
@NumRows int = 100,
@PageNum int = 1,
@SortColumn nvarchar(150) = 'ShortTitle',
@SortDirection nvarchar(4) = 'ASC'

AS 

SET NOCOUNT ON

DECLARE @TotalPages INT
DECLARE @overorderby nvarchar(max)
DECLARE @sql nvarchar(max)

-- Use the Canonical form of the Resolved name to search for pages
DECLARE @CanonicalNameString nvarchar(100)
SELECT @CanonicalNameString = CanonicalNameString FROM dbo.NameResolved WHERE ResolvedNameString = @ResolvedNameString

-- If no name found, see if the argument matches a Canonical form
IF (@CanonicalNameString IS NULL) SELECT @CanonicalNameString = CanonicalNameString FROM dbo.NameResolved WHERE CanonicalNameString = @ResolvedNameString

-- Create a temp table for the initial data set
CREATE TABLE #Step1
	(
	TitleID INT NOT NULL,
	BookID INT NOT NULL,
	ItemID INT NOT NULL,
	PageID INT NOT NULL,
	BibliographicLevelLabel nvarchar(50) NOT NULL,
	ShortTitle nvarchar(255) NULL,
	SortTitle nvarchar(60) NULL,
	PartNumber nvarchar(255) NULL,
	PartName nvarchar(255) NULL,
	Volume nvarchar(100) NULL,
	[Date] nvarchar(20) NULL,
	ItemSequence INT NOT NULL,
	SequenceOrder INT NULL
	)

-- Get the initial data set
INSERT #Step1
-- "Regular" items
SELECT DISTINCT
		t.TitleID,
		b.BookID,
		b.ItemID,
		p.PageID,
		ISNULL(bl.BibliographicLevelLabel, '') AS BibliographicLevelLabel,
		t.ShortTitle,
		t.SortTitle,
		t.PartNumber,
		t.PartName,
		b.Volume,
		COALESCE(NULLIF(p.Year, ''), NULLIF(b.StartYear, ''), NULLIF(CONVERT(nvarchar(20), t.StartYear), '')) AS [Date],
		it.ItemSequence,
		ip.SequenceOrder
FROM	dbo.NameResolved nr
		INNER JOIN dbo.Name n ON nr.NameResolvedID = n.NameResolvedID
		INNER JOIN dbo.NamePage np ON n.NameID = np.NameID
		INNER JOIN dbo.Page p ON np.PageID = p.PageID
		INNER JOIN dbo.ItemPage ip ON p.PageID = ip.PageID
		INNER JOIN dbo.Item i ON ip.itemid = i.itemid
		INNER JOIN dbo.Book b ON i.ItemID = b.ItemID
		INNER JOIN dbo.ItemTitle it ON it.ItemID = i.ItemID AND it.IsPrimary = 1
		INNER JOIN dbo.Title t ON it.titleid = t.titleid
		LEFT JOIN dbo.BibliographicLevel bl ON t.BibliographicLevelID = bl.BibliographicLevelID
WHERE	nr.CanonicalNameString = @CanonicalNameString
AND		n.IsActive = 1
AND		i.ItemStatusID = 40
AND		t.PublishReady = 1

INSERT #Step1
-- Virtual items
SELECT DISTINCT
		t.TitleID,
		b.BookID,
		b.ItemID,
		p.PageID,
		ISNULL(bl.BibliographicLevelLabel, '') AS BibliographicLevelLabel,
		t.ShortTitle,
		t.SortTitle,
		t.PartNumber,
		t.PartName,
		b.Volume,
		COALESCE(NULLIF(p.Year, ''), NULLIF(b.StartYear, ''), NULLIF(CONVERT(nvarchar(20), t.StartYear), '')) AS [Date],
		it.ItemSequence,
		ip.SequenceOrder
FROM	dbo.NameResolved nr
		INNER JOIN dbo.Name n ON nr.NameResolvedID = n.NameResolvedID
		INNER JOIN dbo.NamePage np ON n.NameID = np.NameID
		INNER JOIN dbo.Page p ON np.PageID = p.PageID
		INNER JOIN dbo.ItemPage ip ON p.PageID = ip.PageID
		INNER JOIN dbo.Item i ON ip.itemid = i.itemid
		INNER JOIN dbo.vwSegment s ON i.ItemID = s.ItemID
		INNER JOIN dbo.Book b ON s.BookID = b.BookID AND b.IsVirtual = 1
		INNER JOIN dbo.Item bi ON b.ItemID = bi.ItemID AND bi.ItemStatusID = 40
		INNER JOIN dbo.ItemTitle it ON it.ItemID = b.ItemID AND it.IsPrimary = 1
		INNER JOIN dbo.Title t ON it.titleid = t.titleid
		LEFT JOIN dbo.BibliographicLevel bl ON t.BibliographicLevelID = bl.BibliographicLevelID
WHERE	nr.CanonicalNameString = @CanonicalNameString
AND		n.IsActive = 1
AND		i.ItemStatusID IN (30, 40)
AND		t.PublishReady = 1

-- Count the total number of pages
SELECT @TotalPages = COUNT(*) FROM #Step1

-- Set the sort order used to add a row number to the data set
IF (@SortColumn = 'BibliographicLevelName' AND LOWER(@SortDirection) = 'asc')
BEGIN
	SET @overorderby = 'ORDER BY BibliographicLevelLabel, SortTitle, ItemSequence, SequenceOrder'
END
IF (@SortColumn = 'BibliographicLevelName' AND LOWER(@SortDirection) = 'desc')
BEGIN
	SET @overorderby = 'ORDER BY BibliographicLevelLabel DESC, SortTitle, ItemSequence, SequenceOrder'
END
IF (@SortColumn = 'ShortTitle' AND LOWER(@SortDirection) = 'asc')
BEGIN
	SET @overorderby = 'ORDER BY SortTitle, ItemSequence, SequenceOrder'
END
IF (@SortColumn = 'ShortTitle' AND LOWER(@SortDirection) = 'desc')
BEGIN
	SET @overorderby = 'ORDER BY SortTitle DESC, ItemSequence, SequenceOrder'
END
IF (@SortColumn = 'Date' AND LOWER(@SortDirection) = 'asc')
BEGIN
	SET @overorderby = 'ORDER BY [Date], SortTitle, ItemSequence, SequenceOrder'
END
IF (@SortColumn = 'Date' AND LOWER(@SortDirection) = 'desc')
BEGIN
	SET @overorderby = 'ORDER BY [Date] DESC, SortTitle, ItemSequence, SequenceOrder'
END

-- Produce the final data set
SET @sql = ';WITH CTE AS ( ' +
	'SELECT	*, ROW_NUMBER() OVER (' + @overorderby + ') AS RowNumber ' +
	'FROM	#Step1 ' +
	') ' +
	'SELECT TOP (' + CONVERT(varchar(10), @NumRows) + ') ' +
			'p.TitleID, ' +
			'p.BookID AS ItemID, ' +
			'p.PageID, ' +
			'BibliographicLevelLabel, ' +
			't.FullTitle, ' +
			't.ShortTitle, ' +
			't.PartNumber, ' +
			't.PartName, ' +
			'sc.Authors, ' +
			'p.Volume, ' +
			'[Date], ' +
			'LTRIM(RTRIM(ISNULL(ip.PagePrefix, '''') +  '' '' + ISNULL(ip.PageNumber, ''''))) AS IndicatedPages, ' +
			CONVERT(varchar(10), @TotalPages) + ' AS TotalPages ' +
	'FROM	CTE p LEFT JOIN dbo.IndicatedPage ip ON p.PageID = ip.PageID AND ip.Sequence = 1 ' +
			'INNER JOIN dbo.SearchCatalog sc ON p.BookID = sc.ItemID AND p.TitleID = sc.TitleID ' +
			'INNER JOIN dbo.Title t ON sc.TitleID = t.TitleID ' +
	'WHERE	RowNumber > (' + CONVERT(varchar(10), @PageNum) + ' - 1) * ' + CONVERT(varchar(10), @NumRows) + 
	'ORDER BY  ' +
			'RowNumber'

EXEC(@sql)

GO
