SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PageSelectByBarCodeAndSequence]

@BarCode nvarchar(40),
@SequenceOrder int

AS 

SET NOCOUNT ON

SELECT 	p.[PageID],
		b.BookID AS [ItemID],
		p.[FileNamePrefix],
		ip.[SequenceOrder],
		p.[PageDescription],
		p.[Illustration],
		p.[Note],
		p.[FileSize_Temp],
		p.[FileExtension],
		p.[CreationDate],
		p.[LastModifiedDate],
		p.[CreationUserID],
		p.[LastModifiedUserID],
		p.[Active],
		p.[Year],
		p.[Series],
		p.[Volume],
		p.[Issue],
		p.[ExternalURL],
		'' AS [AltExternalURL],
		p.[IssuePrefix]
FROM	[dbo].[Page] p
		INNER JOIN dbo.ItemPage ip ON p.PageID = ip.PageID
		JOIN [dbo].[Book] b on ip.ItemID = b.ItemID
WHERE	b.BarCode = @BarCode AND
		ip.SequenceOrder = @SequenceOrder

IF @@ERROR <> 0
BEGIN
	-- raiserror will throw a SqlException
	RAISERROR('An error occurred in procedure PageSelectByBarCodeAndSequence. No information was selected.', 16, 1)
	RETURN 9 -- error occurred
END
ELSE BEGIN
	RETURN -- select successful
END


GO
