SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PageSelectByItemAndSequence]

@ItemID INT,
@SequenceOrder INT

AS 

SET NOCOUNT ON

SELECT	p.[PageID],
		b.BookID AS [ItemID],
		[FileNamePrefix],
		ip.[SequenceOrder],
		[PageDescription],
		[Illustration],
		[Note],
		[FileSize_Temp],
		[FileExtension],
		p.[CreationDate],
		p.[LastModifiedDate],
		p.[CreationUserID],
		p.[LastModifiedUserID],
		[Active],
		[Year],
		[Series],
		p.[Volume],
		[Issue],
		p.[ExternalURL],
		'' AS [AltExternalURL],
		p.[IssuePrefix],
		p.[LastPageNameLookupDate]
FROM	[dbo].[Page] p
		INNER JOIN dbo.ItemPage ip ON p.PageID = ip.PageID
		JOIN [dbo].[Book] b on ip.ItemID = b.ItemID
WHERE	b.BookID = @ItemID AND
		ip.[SequenceOrder] = @SequenceOrder

IF @@ERROR <> 0
BEGIN
	-- raiserror will throw a SqlException
	RAISERROR('An error occurred in procedure PageSelectByItemAndSequence. No information was selected.', 16, 1)
	RETURN 9 -- error occurred
END
ELSE BEGIN
	RETURN -- select successful
END


GO
