/****** Object:  StoredProcedure [import].[ImportFileStatusDeleteAuto]    Script Date: 1/10/2014 11:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ImportFileStatusDeleteAuto PROCEDURE
-- Generated 1/10/2014 11:05:49 AM
-- Do not modify the contents of this procedure.
-- Delete Procedure for ImportFileStatus

CREATE PROCEDURE [import].[ImportFileStatusDeleteAuto]

@ImportFileStatusID INT

AS 

DELETE FROM [import].[ImportFileStatus]

WHERE

	[ImportFileStatusID] = @ImportFileStatusID

IF @@ERROR <> 0
BEGIN
	-- raiserror will throw a SqlException
	RAISERROR('An error occurred in procedure ImportFileStatusDeleteAuto. No information was deleted as a result of this request.', 16, 1)
	RETURN 9 -- error occurred 
END
ELSE BEGIN
	RETURN 0 -- delete successful
END


GO
