/****** Object:  StoredProcedure [import].[ImportRecordStatusDeleteAuto]    Script Date: 1/10/2014 11:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ImportRecordStatusDeleteAuto PROCEDURE
-- Generated 1/10/2014 11:05:49 AM
-- Do not modify the contents of this procedure.
-- Delete Procedure for ImportRecordStatus

CREATE PROCEDURE [import].[ImportRecordStatusDeleteAuto]

@ImportRecordStatusID INT

AS 

DELETE FROM [import].[ImportRecordStatus]

WHERE

	[ImportRecordStatusID] = @ImportRecordStatusID

IF @@ERROR <> 0
BEGIN
	-- raiserror will throw a SqlException
	RAISERROR('An error occurred in procedure ImportRecordStatusDeleteAuto. No information was deleted as a result of this request.', 16, 1)
	RETURN 9 -- error occurred 
END
ELSE BEGIN
	RETURN 0 -- delete successful
END


GO
