/****** Object:  StoredProcedure [import].[ImportRecordErrorLogSelectAuto]    Script Date: 1/10/2014 11:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ImportRecordErrorLogSelectAuto PROCEDURE
-- Generated 1/10/2014 11:05:49 AM
-- Do not modify the contents of this procedure.
-- Select Procedure for ImportRecordErrorLog

CREATE PROCEDURE [import].[ImportRecordErrorLogSelectAuto]

@ImportRecordErrorLogID INT

AS 

SET NOCOUNT ON

SELECT 

	[ImportRecordErrorLogID],
	[ImportRecordID],
	[ErrorDate],
	[ErrorMessage],
	[CreationDate],
	[LastModifiedDate],
	[CreationUserID],
	[LastModifiedUserID]

FROM [import].[ImportRecordErrorLog]

WHERE
	[ImportRecordErrorLogID] = @ImportRecordErrorLogID

IF @@ERROR <> 0
BEGIN
	-- raiserror will throw a SqlException
	RAISERROR('An error occurred in procedure ImportRecordErrorLogSelectAuto. No information was selected.', 16, 1)
	RETURN 9 -- error occurred
END
ELSE BEGIN
	RETURN -- select successful
END


GO
