CREATE PROCEDURE import.ImportRecordUpdateAuto

@ImportRecordID INT,
@ImportFileID INT,
@ImportRecordStatusID INT,
@Genre NVARCHAR(50),
@Title NVARCHAR(2000),
@TranslatedTitle NVARCHAR(2000),
@JournalTitle NVARCHAR(2000),
@Volume NVARCHAR(100),
@Series NVARCHAR(100),
@Issue NVARCHAR(100),
@Edition NVARCHAR(400),
@PublicationDetails NVARCHAR(400),
@PublisherName NVARCHAR(250),
@PublisherPlace NVARCHAR(150),
@Year NVARCHAR(20),
@StartYear SMALLINT,
@EndYear SMALLINT,
@Language NVARCHAR(30),
@Summary NVARCHAR(MAX),
@Notes NVARCHAR(MAX),
@Rights NVARCHAR(MAX),
@DueDiligence NVARCHAR(MAX),
@CopyrightStatus NVARCHAR(MAX),
@License NVARCHAR(MAX),
@LicenseUrl NVARCHAR(200),
@PageRange NVARCHAR(50),
@StartPage NVARCHAR(20),
@EndPage NVARCHAR(20),
@Url NVARCHAR(200),
@DownloadUrl NVARCHAR(200),
@DOI NVARCHAR(125),
@ISSN NVARCHAR(125),
@ISBN NVARCHAR(125),
@OCLC NVARCHAR(125),
@LCCN NVARCHAR(125),
@LastModifiedUserID INT

AS 

SET NOCOUNT ON

UPDATE [import].[ImportRecord]

SET

	[ImportFileID] = @ImportFileID,
	[ImportRecordStatusID] = @ImportRecordStatusID,
	[Genre] = @Genre,
	[Title] = @Title,
	[TranslatedTitle] = @TranslatedTitle,
	[JournalTitle] = @JournalTitle,
	[Volume] = @Volume,
	[Series] = @Series,
	[Issue] = @Issue,
	[Edition] = @Edition,
	[PublicationDetails] = @PublicationDetails,
	[PublisherName] = @PublisherName,
	[PublisherPlace] = @PublisherPlace,
	[Year] = @Year,
	[StartYear] = @StartYear,
	[EndYear] = @EndYear,
	[Language] = @Language,
	[Summary] = @Summary,
	[Notes] = @Notes,
	[Rights] = @Rights,
	[DueDiligence] = @DueDiligence,
	[CopyrightStatus] = @CopyrightStatus,
	[License] = @License,
	[LicenseUrl] = @LicenseUrl,
	[PageRange] = @PageRange,
	[StartPage] = @StartPage,
	[EndPage] = @EndPage,
	[Url] = @Url,
	[DownloadUrl] = @DownloadUrl,
	[DOI] = @DOI,
	[ISSN] = @ISSN,
	[ISBN] = @ISBN,
	[OCLC] = @OCLC,
	[LCCN] = @LCCN,
	[LastModifiedDate] = getdate(),
	[LastModifiedUserID] = @LastModifiedUserID

WHERE
	[ImportRecordID] = @ImportRecordID
		
IF @@ERROR <> 0
BEGIN
	-- raiserror will throw a SqlException
	RAISERROR('An error occurred in procedure ImportRecordUpdateAuto. No information was updated as a result of this request.', 16, 1)
	RETURN 9 -- error occurred
END
ELSE BEGIN
	SELECT
	
		[ImportRecordID],
		[ImportFileID],
		[ImportRecordStatusID],
		[Genre],
		[Title],
		[TranslatedTitle],
		[JournalTitle],
		[Volume],
		[Series],
		[Issue],
		[Edition],
		[PublicationDetails],
		[PublisherName],
		[PublisherPlace],
		[Year],
		[StartYear],
		[EndYear],
		[Language],
		[Summary],
		[Notes],
		[Rights],
		[DueDiligence],
		[CopyrightStatus],
		[License],
		[LicenseUrl],
		[PageRange],
		[StartPage],
		[EndPage],
		[Url],
		[DownloadUrl],
		[DOI],
		[ISSN],
		[ISBN],
		[OCLC],
		[LCCN],
		[CreationDate],
		[LastModifiedDate],
		[CreationUserID],
		[LastModifiedUserID]

	FROM [import].[ImportRecord]
	
	WHERE
		[ImportRecordID] = @ImportRecordID
	
	RETURN -- update successful
END

