/****** Object:  StoredProcedure [import].[ImportFileInsertAuto]    Script Date: 1/10/2014 11:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ImportFileInsertAuto PROCEDURE
-- Generated 1/10/2014 11:05:49 AM
-- Do not modify the contents of this procedure.
-- Insert Procedure for ImportFile

CREATE PROCEDURE [import].[ImportFileInsertAuto]

@ImportFileID INT OUTPUT,
@ImportFileStatusID INT,
@ImportFileName NVARCHAR(200),
@ContributorCode NVARCHAR(10),
@CreationUserID INT,
@LastModifiedUserID INT

AS 

SET NOCOUNT ON

INSERT INTO [import].[ImportFile]
(
	[ImportFileStatusID],
	[ImportFileName],
	[ContributorCode],
	[CreationDate],
	[LastModifiedDate],
	[CreationUserID],
	[LastModifiedUserID]
)
VALUES
(
	@ImportFileStatusID,
	@ImportFileName,
	@ContributorCode,
	getdate(),
	getdate(),
	@CreationUserID,
	@LastModifiedUserID
)

SET @ImportFileID = Scope_Identity()

IF @@ERROR <> 0
BEGIN
	-- raiserror will throw a SqlException
	RAISERROR('An error occurred in procedure ImportFileInsertAuto. No information was inserted as a result of this request.', 16, 1)
	RETURN 9 -- error occurred
END
ELSE BEGIN
	SELECT
	
		[ImportFileID],
		[ImportFileStatusID],
		[ImportFileName],
		[ContributorCode],
		[CreationDate],
		[LastModifiedDate],
		[CreationUserID],
		[LastModifiedUserID]	

	FROM [import].[ImportFile]
	
	WHERE
		[ImportFileID] = @ImportFileID
	
	RETURN -- insert successful
END


GO
