CREATE PROCEDURE [import].[ImportRecordSelectAuto]

@ImportRecordID INT

AS 

SET NOCOUNT ON

SELECT	
	[ImportRecordID],
	[ImportFileID],
	[ImportRecordStatusID],
	[Genre],
	[Title],
	[TranslatedTitle],
	[JournalTitle],
	[Volume],
	[Series],
	[Issue],
	[Edition],
	[PublicationDetails],
	[PublisherName],
	[PublisherPlace],
	[Year],
	[StartYear],
	[EndYear],
	[Language],
	[Summary],
	[Notes],
	[Rights],
	[DueDiligence],
	[CopyrightStatus],
	[License],
	[LicenseUrl],
	[PageRange],
	[StartPage],
	[EndPage],
	[Url],
	[DownloadUrl],
	[DOI],
	[ISSN],
	[ISBN],
	[OCLC],
	[LCCN],
	[CreationDate],
	[LastModifiedDate],
	[CreationUserID],
	[LastModifiedUserID],
	[TitleID],
	[ItemID],
	[StartPageID],
	[EndPageID],
	[SegmentID]
FROM	
	[import].[ImportRecord]
WHERE	
	[ImportRecordID] = @ImportRecordID

IF @@ERROR <> 0
BEGIN
	-- raiserror will throw a SqlException
	RAISERROR('An error occurred in procedure import.ImportRecordSelectAuto. No information was selected.', 16, 1)
	RETURN 9 -- error occurred
END
ELSE BEGIN
	RETURN -- select successful
END
