/****** Object:  StoredProcedure [import].[ImportRecordErrorLogUpdateAuto]    Script Date: 1/10/2014 11:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ImportRecordErrorLogUpdateAuto PROCEDURE
-- Generated 1/10/2014 11:05:49 AM
-- Do not modify the contents of this procedure.
-- Update Procedure for ImportRecordErrorLog

CREATE PROCEDURE [import].[ImportRecordErrorLogUpdateAuto]

@ImportRecordErrorLogID INT,
@ImportRecordID INT,
@ErrorDate DATETIME,
@ErrorMessage NVARCHAR(MAX),
@LastModifiedUserID INT

AS 

SET NOCOUNT ON

UPDATE [import].[ImportRecordErrorLog]

SET

	[ImportRecordID] = @ImportRecordID,
	[ErrorDate] = @ErrorDate,
	[ErrorMessage] = @ErrorMessage,
	[LastModifiedDate] = getdate(),
	[LastModifiedUserID] = @LastModifiedUserID

WHERE
	[ImportRecordErrorLogID] = @ImportRecordErrorLogID
		
IF @@ERROR <> 0
BEGIN
	-- raiserror will throw a SqlException
	RAISERROR('An error occurred in procedure ImportRecordErrorLogUpdateAuto. No information was updated as a result of this request.', 16, 1)
	RETURN 9 -- error occurred
END
ELSE BEGIN
	SELECT
	
		[ImportRecordErrorLogID],
		[ImportRecordID],
		[ErrorDate],
		[ErrorMessage],
		[CreationDate],
		[LastModifiedDate],
		[CreationUserID],
		[LastModifiedUserID]

	FROM [import].[ImportRecordErrorLog]
	
	WHERE
		[ImportRecordErrorLogID] = @ImportRecordErrorLogID
	
	RETURN -- update successful
END


GO
