/****** Object:  StoredProcedure [import].[ImportRecordInsertAuto]    Script Date: 1/10/2014 11:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ImportRecordInsertAuto PROCEDURE
-- Generated 1/10/2014 11:05:49 AM
-- Do not modify the contents of this procedure.
-- Insert Procedure for ImportRecord

CREATE PROCEDURE import.ImportRecordInsertAuto

@ImportRecordID INT OUTPUT,
@ImportFileID INT,
@ImportRecordStatusID INT,
@Genre NVARCHAR(50),
@Title NVARCHAR(2000),
@TranslatedTitle NVARCHAR(2000),
@JournalTitle NVARCHAR(2000),
@Volume NVARCHAR(100),
@Series NVARCHAR(100),
@Issue NVARCHAR(100),
@PublicationDetails NVARCHAR(400),
@PublisherName NVARCHAR(250),
@PublisherPlace NVARCHAR(150),
@Year NVARCHAR(20),
@StartYear SMALLINT = null,
@EndYear SMALLINT = null,
@Language NVARCHAR(30) = null,
@Rights NVARCHAR(MAX),
@DueDiligence NVARCHAR(MAX),
@CopyrightStatus NVARCHAR(MAX),
@License NVARCHAR(MAX),
@LicenseUrl NVARCHAR(200),
@StartPage NVARCHAR(20),
@EndPage NVARCHAR(20),
@Url NVARCHAR(200),
@DownloadUrl NVARCHAR(200),
@DOI NVARCHAR(125),
@ISSN NVARCHAR(125),
@ISBN NVARCHAR(125),
@OCLC NVARCHAR(125),
@LCCN NVARCHAR(125),
@CreationUserID INT,
@LastModifiedUserID INT

AS 

SET NOCOUNT ON

INSERT INTO [import].[ImportRecord]
(
	[ImportFileID],
	[ImportRecordStatusID],
	[Genre],
	[Title],
	[TranslatedTitle],
	[JournalTitle],
	[Volume],
	[Series],
	[Issue],
	[PublicationDetails],
	[PublisherName],
	[PublisherPlace],
	[Year],
	[StartYear],
	[EndYear],
	[Language],
	[Rights],
	[DueDiligence],
	[CopyrightStatus],
	[License],
	[LicenseUrl],
	[StartPage],
	[EndPage],
	[Url],
	[DownloadUrl],
	[DOI],
	[ISSN],
	[ISBN],
	[OCLC],
	[LCCN],
	[CreationDate],
	[LastModifiedDate],
	[CreationUserID],
	[LastModifiedUserID]
)
VALUES
(
	@ImportFileID,
	@ImportRecordStatusID,
	@Genre,
	@Title,
	@TranslatedTitle,
	@JournalTitle,
	@Volume,
	@Series,
	@Issue,
	@PublicationDetails,
	@PublisherName,
	@PublisherPlace,
	@Year,
	@StartYear,
	@EndYear,
	@Language,
	@Rights,
	@DueDiligence,
	@CopyrightStatus,
	@License,
	@LicenseUrl,
	@StartPage,
	@EndPage,
	@Url,
	@DownloadUrl,
	@DOI,
	@ISSN,
	@ISBN,
	@OCLC,
	@LCCN,
	getdate(),
	getdate(),
	@CreationUserID,
	@LastModifiedUserID
)

SET @ImportRecordID = Scope_Identity()

IF @@ERROR <> 0
BEGIN
	-- raiserror will throw a SqlException
	RAISERROR('An error occurred in procedure ImportRecordInsertAuto. No information was inserted as a result of this request.', 16, 1)
	RETURN 9 -- error occurred
END
ELSE BEGIN
	SELECT
	
		[ImportRecordID],
		[ImportFileID],
		[ImportRecordStatusID],
		[Genre],
		[Title],
		[TranslatedTitle],
		[JournalTitle],
		[Volume],
		[Series],
		[Issue],
		[PublicationDetails],
		[PublisherName],
		[PublisherPlace],
		[Year],
		[StartYear],
		[EndYear],
		[Language],
		[Rights],
		[DueDiligence],
		[CopyrightStatus],
		[License],
		[LicenseUrl],
		[StartPage],
		[EndPage],
		[Url],
		[DownloadUrl],
		[DOI],
		[ISSN],
		[ISBN],
		[OCLC],
		[LCCN],
		[CreationDate],
		[LastModifiedDate],
		[CreationUserID],
		[LastModifiedUserID]	

	FROM [import].[ImportRecord]
	
	WHERE
		[ImportRecordID] = @ImportRecordID
	
	RETURN -- insert successful
END

GO
