CREATE PROCEDURE [import].[ImportRecordCreatorSelectAuto]

@ImportRecordCreatorID INT

AS 

SET NOCOUNT ON

SELECT 

	[ImportRecordCreatorID],
	[ImportRecordID],
	[FullName],
	[FirstName],
	[LastName],
	[StartYear],
	[EndYear],
	[AuthorType],
	[CreationDate],
	[LastModifiedDate],
	[CreationUserID],
	[LastModifiedUserID]

FROM [import].[ImportRecordCreator]

WHERE
	[ImportRecordCreatorID] = @ImportRecordCreatorID

IF @@ERROR <> 0
BEGIN
	-- raiserror will throw a SqlException
	RAISERROR('An error occurred in procedure ImportRecordCreatorSelectAuto. No information was selected.', 16, 1)
	RETURN 9 -- error occurred
END
ELSE BEGIN
	RETURN -- select successful
END


GO
