/****** Object:  StoredProcedure [import].[ImportRecordKeywordUpdateAuto]    Script Date: 1/10/2014 11:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ImportRecordKeywordUpdateAuto PROCEDURE
-- Generated 1/10/2014 11:05:49 AM
-- Do not modify the contents of this procedure.
-- Update Procedure for ImportRecordKeyword

CREATE PROCEDURE [import].[ImportRecordKeywordUpdateAuto]

@ImportRecordKeywordID INT,
@ImportRecordID INT,
@Keyword NVARCHAR(50),
@LastModifiedUserID INT

AS 

SET NOCOUNT ON

UPDATE [import].[ImportRecordKeyword]

SET

	[ImportRecordID] = @ImportRecordID,
	[Keyword] = @Keyword,
	[LastModifiedDate] = getdate(),
	[LastModifiedUserID] = @LastModifiedUserID

WHERE
	[ImportRecordKeywordID] = @ImportRecordKeywordID
		
IF @@ERROR <> 0
BEGIN
	-- raiserror will throw a SqlException
	RAISERROR('An error occurred in procedure ImportRecordKeywordUpdateAuto. No information was updated as a result of this request.', 16, 1)
	RETURN 9 -- error occurred
END
ELSE BEGIN
	SELECT
	
		[ImportRecordKeywordID],
		[ImportRecordID],
		[Keyword],
		[CreationDate],
		[LastModifiedDate],
		[CreationUserID],
		[LastModifiedUserID]

	FROM [import].[ImportRecordKeyword]
	
	WHERE
		[ImportRecordKeywordID] = @ImportRecordKeywordID
	
	RETURN -- update successful
END


GO
